<div class="wrapper" ng-show="!verified" style="position: fixed; width: 100%; text-align: center; margin-top: 18%;">
	<input type="text" ng-model="v_id" placeholder="Enter Your Email-ID" size="80%" style="text-align: center; font-size: 25px;"><br><br>
	<button class="btn btn-warning" ng-click="checkVerification()" ng-disabled="!v_id">Verify</button><br><br>
	<span style="color: red;"><b>{{success.message}}</b></span>
</div>

<span ng-show="loading && verified">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>    
</span>

<div id="sb-site" ng-show="!loading && verified && !showBalancing">
	
	<style>
		.back_panel {
			background-color: #CCFF90;
			color: black;
		}
		.back_active_panel {
			background-color: #e1f5fe;
			color: black;
		}
		#radios label {
			cursor: pointer;
			position: relative;
		}
			#radios {
			text-align: center;
			margin 0 auto;
		}

		#radios label + label {
			margin-left: 15px;
		}

		input[type="radio"] {
			opacity: 0; /* hidden but still tabable */
			position: absolute;
		}

		input[type="radio"] + span {
			font-family: 'Material Icons';
			color: #B3CEFB;
			border-radius: 50%;
			padding: 5px;
			transition: all 0.4s;
			-webkit-transition: all 0.4s;
		}

		input[type="radio"]:checked + span {
			color: #D9E7FD;
		  background-color: #4285F4;
		}

		input[type="radio"]:focus + span {
			color: #fff;
		}

		.material-icons {
		  font-family: 'Material Icons';
		  font-weight: normal;
		  font-style: normal;
		  font-size: 20px;  /* Preferred icon size */
		  display: inline-block;
		  line-height: 1;
		  text-transform: none;
		  letter-spacing: normal;
		  word-wrap: normal;
		  white-space: nowrap;
		  direction: ltr;

		  /* Support for all WebKit browsers. */
		  -webkit-font-smoothing: antialiased;
		  /* Support for Safari and Chrome. */
		  text-rendering: optimizeLegibility;

		  /* Support for Firefox. */
		  -moz-osx-font-smoothing: grayscale;

		  /* Support for IE. */
		  font-feature-settings: 'liga';
		}
		
		.icon{
			color: #B3CEFB;
		}
	</style>
	
	<div style="display: block; width: 22%; margin: 0 auto; z-index: 10000;" ng-show="waitingQueue == true" class="w3-animate-top">
		<div class="alert alert-info alert-with-icon" data-notify="container" style="position: fixed; margin-top: 20px; width: 300px; text-align: center;">
			<i data-notify="icon" class="material-icons">cached</i>
			<span data-notify="message">Saving Your Progress !</span>
		</div>
	</div>
	<div style="display: block; width: 22%; margin: 0 auto; z-index: 10000;" ng-show="success.message == 'Review Submitted !'" class="w3-animate-top">
		<div class="alert alert-success alert-with-icon" data-notify="container" style="position: fixed; margin-top: 20px; width: 300px; text-align: center;">
			<i data-notify="icon" class="material-icons">check_circle</i>
			<span data-notify="message">Progress Saved !</span>
		</div>
	</div>
	<div style="display: block; width: 22%; margin: 0 auto; z-index: 10000;" ng-if="!online" class="w3-animate-top">
		<div class="alert alert-danger alert-with-icon" data-notify="container" style="position: fixed; margin-top: 20px; width: 300px; text-align: center;">
			<i data-notify="icon" class="material-icons">info</i>
			<span data-notify="message">Connection Error !</span>
		</div>
	</div>
    <div id="page-wrapper">
        
        <div id="page-content-wrapper">
            <div>
                
                <div class="container">

					<!-- Boostrap Tabs -->

					<script type="text/javascript" src="./assets/widgets/tabs/tabs.js"></script>
						<div id="page-title">
							<br>
							<h2>Review Profile</h2>
							<p class="mrg15B"></p>
							
						</div>
						
						<div class="row" style="margin: 0 auto;">
							<div class="col-md-2" style="margin-top: 30px; font-size: 20px; text-align: center;">
								Profile Sections
							</div>
							<div class="col-md-10" style="margin: 0 auto;">
								<div class="col-md-12" style="text-align: center; margin-bottom: 10px;">
									In the statements below, kindly choose from the following options:
								</div>
								<div class="col-md-3" ng-if="section_num != 3"></div>
								<div class="col-md-2" ng-if="section_num == 3"></div>
								<div class="col-md-2" style="margin-bottom: 30px; font-size: 20px;" ng-show="section_num == 3">
									<label class="material-icons" title="Improved Over Time" style="color: skyblue;">
										<span>&#xE15D;</span>
									</label>
									<div style="font-size: 15px; margin-top: -27px; margin-left: 25px;">Improved Over Time</div>
								</div>
								<div class="col-md-2" style="margin-bottom: 30px; font-size: 20px;">
									<label class="material-icons" title="Do Not Relate" style="color: skyblue;">
										<span>&#xE612;</span>
									</label>
									<div style="font-size: 15px; margin-top: -27px; margin-left: 25px;">Do Not Relate</div>
								</div>
								<div class="col-md-2" style="margin-bottom: 30px; font-size: 20px;">
									<label class="material-icons" title="Relate Partially" style="color: skyblue;">
										<span>&#xE427;</span>
									</label>
									<div style="font-size: 15px; margin-top: -27px; margin-left: 25px;">Relate Partially</div>
								</div>
								<div class="col-md-2" style="margin-bottom: 30px; font-size: 20px;">
									<label class="material-icons" title="Relate Strongly" style="color: skyblue;">
										<span>&#xE3A6;</span>
									</label>
									<div style="font-size: 15px; margin-top: -27px; margin-left: 25px;">Relate Strongly</div>
								</div>
							</div>
							
						</div>
					
						<div class="row">
						<div>
							<ul class="list-group">
								<li class="mrg10B" ng-click="section_num = 1">
									<a class="list-group-item" href="" ng-class="section_num == 1 ? 'back_active_panel' : (checkSectionFill(1) ? 'back_panel':'bg_white')">
									  Professional Values and Work<br>Culture Preferences
										<i class="glyph-icon icon-angle-right mrg0A"></i>
									</a>
								</li>
								<li class="mrg10B" ng-click="section_num = 2">
									<a class="list-group-item" href="" ng-class="section_num == 2 ? 'back_active_panel' : (checkSectionFill(2) ? 'back_panel':'bg_white')">
										Professional Strengths
										<i class="glyph-icon font-green icon-angle-right mrg0A"></i>
									</a>
								</li>
								<li class="mrg10B" ng-click="section_num = 3">
									<a class="list-group-item" href="" ng-class="section_num == 3 ? 'back_active_panel' : (checkSectionFill(3) ? 'back_panel':'bg_white')">
										Learning Needs
										<i class="glyph-icon icon-angle-right mrg0A"></i>
									</a>
								</li>
							</ul>
						</div>
						<div class="col-md-9">
							<div class="tab-content">

								<div class="tab-pane fade active in pad0A" id="faq-tab-1">
									<div class="panel-group" id="accordion5">
										<div class="panel ">
											<div class="panel-heading">
												<h2 class="panel-title" style="text-align:center; font-size:1.8em; padding: 10px 0;">

													<a data-toggle="collapse" data-parent="#accordion5">
														<b ng-show="section_num == 1">Professional Values and Work Culture Preferences</b>
														<b ng-show="section_num == 2">Professional Strengths</b>
														<b ng-show="section_num == 3">Learning Needs</b>
													</a>
													<span style="float:right; font-size: 15px;">Page {{section_num}}/3</span>
												</h2>
											</div>
											<div class="row" style="width: 95%; margin: auto;">

												 <div class="col-sm-12" ng-repeat="keys in user.profile.profile_content" ng-show="section_num == keys.keyword_id[5]" style="margin-bottom: 20px;">
													<div class="panel panel-primary">
														<div class="panel-heading">
															<h4 class="panel-title">{{keys.keyword}}</h4>
														</div>
														<div id="collapseOne" class="panel-collapse collapse in">
															<div class="panel-body pad0B col-sm-12">
																<div class="col-sm-6" style="text-align: center;">By Candidate</div>
																<div class="col-sm-6" style="text-align: center;">By Peer</div>
																<br><br>
															   <div class="row" ng-repeat="mini in keys.mini_descriptions" style="margin-bottom: 10px;">
																   <!-- LEFT SIDE -->
																	<div class="col-sm-1">
																		<div id="radios">
																				<label for="{{mini.mini_description_id}}donotexhibitanymore" class="material-icons" title="Improved Over Time" ng-if="mini.relate == 'donotexhibitanymore'">
																					 <span class="icon">&#xE15D;</span>
																				</label>
																				<label for="{{mini.mini_description_id}}donotrelate" class="material-icons" title="Do Not Relate" ng-if="mini.relate == 'donotrelate'">
																					 <span class="icon">&#xE612;</span>
																				</label>
																				<label for="{{mini.mini_description_id}}relatepartially" class="material-icons" title="Relate Partially" ng-if="mini.relate == 'relatepartially'">
																					<span class="icon">&#xE427;</span>
																				</label>
																				<label for="{{mini.mini_description_id}}relatestrongly" class="material-icons" title="Relate Strongly" ng-if="mini.relate == 'relatestrongly'">
																					<span class="icon">&#xE3A6;</span>
																				</label>                          
																		</div>
																	</div>
																	<div class="col-sm-5">
																		<h5><b>{{mini.mini_description}}</b></h5>  
																	</div>
																
															<br>
															
															<!-- RIGHT SIDE -->
																	<div class="col-sm-6">
																		<div id="radios">
																				<label for="peer{{user.peer_reviewer_data.reviews[$parent.$index].mini_descriptions[$index].mini_description_id}}donotexhibitanymore" class="material-icons" title="Improved Over Time" ng-show="section_num == 3">
																					 <input type="radio" name="peer{{user.peer_reviewer_data.reviews[$parent.$index].mini_descriptions[$index].mini_description_id}}donotexhibitanymore" id="peer{{user.peer_reviewer_data.reviews[$parent.$index].mini_descriptions[$index].mini_description_id}}donotexhibitanymore" value="donotexhibitanymore" ng-model="user.peer_reviewer_data.reviews[$parent.$index].mini_descriptions[$index].relate" ng-change="user.peer_reviewer_data.reviews[$parent.$index].mini_descriptions[$index].mini_rating = 0" />
																					 <span>&#xE15D;</span>
																				</label>
																				<label for="peer{{user.peer_reviewer_data.reviews[$parent.$index].mini_descriptions[$index].mini_description_id}}donotrelate" class="material-icons" title="Do Not Relate">
																					 <input type="radio" name="peer{{user.peer_reviewer_data.reviews[$parent.$index].mini_descriptions[$index].mini_description_id}}donotrelate" id="peer{{user.peer_reviewer_data.reviews[$parent.$index].mini_descriptions[$index].mini_description_id}}donotrelate" value="donotrelate" ng-model="user.peer_reviewer_data.reviews[$parent.$index].mini_descriptions[$index].relate" ng-change="user.peer_reviewer_data.reviews[$parent.$index].mini_descriptions[$index].mini_rating = 0" />
																					 <span>&#xE612;</span>
																				</label>
																				<label for="peer{{user.peer_reviewer_data.reviews[$parent.$index].mini_descriptions[$index].mini_description_id}}relatepartially" class="material-icons" title="Relate Partially">
																					<input type="radio" name="peer{{user.peer_reviewer_data.reviews[$parent.$index].mini_descriptions[$index].mini_description_id}}relatepartially" id="peer{{user.peer_reviewer_data.reviews[$parent.$index].mini_descriptions[$index].mini_description_id}}relatepartially" value="relatepartially" ng-model="user.peer_reviewer_data.reviews[$parent.$index].mini_descriptions[$index].relate" ng-change="user.peer_reviewer_data.reviews[$parent.$index].mini_descriptions[$index].mini_rating = 1" />
																					<span>&#xE427;</span>
																				</label>
																				<label for="peer{{user.peer_reviewer_data.reviews[$parent.$index].mini_descriptions[$index].mini_description_id}}relatestrongly" class="material-icons" title="Relate Strongly">
																					<input type="radio" name="peer{{user.peer_reviewer_data.reviews[$parent.$index].mini_descriptions[$index].mini_description_id}}relatestrongly" id="peer{{user.peer_reviewer_data.reviews[$parent.$index].mini_descriptions[$index].mini_description_id}}relatestrongly" value="relatestrongly" ng-model="user.peer_reviewer_data.reviews[$parent.$index].mini_descriptions[$index].relate" ng-change="user.peer_reviewer_data.reviews[$parent.$index].mini_descriptions[$index].mini_rating = 2" />
																					<span>&#xE3A6;</span>
																				</label>
																				<span ng-click="user.peer_reviewer_data.reviews[$parent.$index].mini_descriptions[$index].relate = ''; user.peer_reviewer_data.reviews[$parent.$index].mini_descriptions[$index].mini_rating = 0;" style="position:relative; left: 10px; top: -6px;"><a href="">clear</a></span>
																		</div>
																	</div>
																</div>
																
															<br>   
															   
																<div class="col-sm-6">
																	<textarea contenteditable="true" rows="2" class="form-control" ng-model="keys.comment" disabled ng-if="keys.comment"></textarea>
																</div>
																<div class="col-sm-6">
																	<textarea contenteditable="true" rows="2" class="form-control" ng-model="user.peer_reviewer_data.reviews[$index].comment" placeholder="Comment">Comment</textarea>
																</div>
															</div>
															<br>
														</div>
													</div>
												 </div>
											</div>
										</div><br>
										
										<button type="button" class="btn btn-info" ng-click="section_num = section_num-1" ng-disabled="section_num == 1">Back</button>
										<button type="button" class="btn btn-success pull-right" ng-click="section_num = section_num+1" ng-show="section_num != 3">Next</button>
										<button type="button" class="btn btn-danger pull-right" ng-click="submitProfile()" ng-show="section_num == 3">Submit</button>
										<span style="display: block; text-align: center; margin-top: -35px; margin-left: 55px;">
											<button type="button" class="btn btn-warning" ng-click="saveProfile()">Save</button><br><br>
										</span>
									</div>

								</div>

							</div>
						</div>
						</div>
                    </div>

            </div>
        </div>
        
    </div>
</div>

<div class="container" ng-show="showBalancing">
                <br>
	<div id="page-title">
		<h2>Balanced View</h2>
	</div>
<!--                                                    SECTION START                                                          -->
                        
                            <style>
								.range {
								  -webkit-appearance: none;
								  -moz-appearance: none;
								  width: 100%
								}
								input[disabled]{
									opacity: 1
								}
								input[type=range]::-webkit-slider-runnable-track {
								  -webkit-appearance: none;
									
								  background: -repeating-linear-gradient(0deg,rgba(139,195,74,1) 0%,rgba(139,191,78,0.91) 20%,rgba(255,238,88,0.8) 40%,rgba(255,238,88,1) 60%,rgba(244,67,54,0.74) 80%,rgba(244,67,54,1) 100%);
									
								  background: -webkit-repeating-linear-gradient(0deg,rgba(139,195,74,1) 0%,rgba(139,191,78,0.91) 20%,rgba(255,238,88,0.8) 40%,rgba(255,238,88,1) 60%,rgba(244,67,54,0.74) 80%,rgba(244,67,54,1) 100%);

							  	  background: -o-repeating-linear-gradient(0deg,rgba(139,195,74,1) 0%,rgba(139,191,78,0.91) 20%,rgba(255,238,88,0.8) 40%,rgba(255,238,88,1) 60%,rgba(244,67,54,0.74) 80%,rgba(244,67,54,1) 100%);

								  background: -ms-repeating-linear-gradient(0deg,rgba(139,195,74,1) 0%,rgba(139,191,78,0.91) 20%,rgba(255,238,88,0.8) 40%,rgba(255,238,88,1) 60%,rgba(244,67,54,0.74) 80%,rgba(244,67,54,1) 100%);
                                  
								  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8BC34A', endColorstr='#ff357f ', GradientType=1 );
								  height: 10px;
								}
								
								input[type=range]::-webkit-slider-thumb {
								  -webkit-appearance: none;
								  width: 0; 
								  height: 0; 
								  border-left: 10px solid transparent;
								  border-right: 10px solid transparent;
								  border-bottom: 15px solid 	#1E88E5;
								  margin-top: 10px;
								  -webkit-transition: border 1000ms ease;
								  transition: border 1000ms ease;
								}
							</style>
						
						<div class="panel panel-body row" style="color: red;">
							<div class="col-md-6" style="text-align: center;">
								<b>Their's</b>
							</div>
							<div class="col-md-6" style="text-align: center;">
								<b>Your's</b>
							</div>
						</div>
	<!-- 
									<div class="panel panel-body row">
										<div class="col-md-2"></div>
										<div class="col-md-2" style="text-align: center; color:#8bc34a;">
											<b>RESPONSIVE</b><br>
											<span style="color: #888;">Strengths when balanced</span>
										</div>
										<div class="col-md-4"></div>
										<div class="col-md-2" style="text-align: center; color:red;">
											<b>REACTIVE</b><br>
											<span style="color: #888;">Strengths when overused</span>
										</div>
									</div>

									<div class="panel" ng-repeat="keys in user.profile.profile_content" ng-if="keys.linked_keyword.length != 0 && keys.keyword_id[5] != 4">
										<div class="panel-body">

											<div class="col-md-12 row" style="margin: 20px 0px;">
												<div class="col-md-12">
													<div class="col-md-2"></div>
													<div class="col-md-4" style="text-align: left;">
														<b style="border: 1px solid #008fe2; padding: 7px; background: #008fe2; color: #fff; opacity: 0.7;">{{keys.keyword}}</b>
													</div>
													<div class="col-md-4" style="text-align: right;">
														<b style="border: 1px solid #008fe2; padding: 7px; background: #008fe2; color: #fff; opacity: 0.7;">{{temp_content[$index].keyword}}</b>
													</div>
												</div><br><br>
												<div class="col-md-12">
													<div class="col-md-2"></div>
													<div class="col-md-8">
														<input type="range" min="0" max="2" class="range" step="0.001" ng-model="temp_content[$index].key_rating" disabled>
													</div>
													<div class="col-md-2"></div>
												</div><br><br><br>
												<div class="col-md-12 list-group list-group-icons" style="text-align:center; margin-top:-10px; font-size:15px;">
														<span ng-if="temp_content[$index].key_rating == 0">{{keys.balancing_description[0].desc}}</span>
														<span ng-if="temp_content[$index].key_rating > 0 && temp_content[$index].key_rating < 1">{{keys.balancing_description[1].desc}}</span>
														<span ng-if="temp_content[$index].key_rating >= 1">{{keys.balancing_description[2].desc}}</span>

												</div>
											</div>
										</div>
									</div>
	-->
						<div class="panel panel-body row" style="color: red; font-size: 10px; text-align: center;">
							<div class="col-md-3" style="color:#8bc34a;">
								<b>RESPONSIVE</b><br>
								<span style="color: #888;">Strengths when balanced</span>
							</div>
							<div class="col-md-3">
								<b>REACTIVE</b><br>
								<span style="color: #888;">Strengths when overused</span>
							</div>
							
							<div class="col-md-3" style="color:#8bc34a;">
								<b>RESPONSIVE</b><br>
								<span style="color: #888;">Strengths when balanced</span>
							</div>
							<div class="col-md-3">
								<b>REACTIVE</b><br>
								<span style="color: #888;">Strengths when overused</span>
							</div>
						</div>
						
						<div ng-repeat="keys in user.profile.profile_content" ng-if="keys.linked_keyword.length != 0 && keys.keyword_id[5] != 4">
                            <div class="row col-md-12">
								
								<div class="col-md-6" style="margin: 20px 0px;">
									<div class="col-md-12">
										<div class="col-md-4" style="text-align: right;">
											<b style="border: 1px solid #008fe2; padding: 7px; background: #008fe2; color: #fff; opacity: 0.7;">{{keys.keyword}}</b>
										</div>
										<div class="col-md-4"></div>
										<div class="col-md-4" style="text-align: left;">
											<b style="border: 1px solid #008fe2; padding: 7px; background: #008fe2; color: #fff; opacity: 0.7;">{{temp_content[$index].keyword}}</b>
										</div>
									</div><br><br>
									<div class="col-md-12">
										<div class="col-md-2"></div>
										<div class="col-md-8">
											<input type="range" min="0" max="2" class="range" step="0.001" ng-model="temp_content[$index].key_rating" disabled>
										</div>
										<div class="col-md-2"></div>
									</div><br><br><br>
									<div class="col-md-12 list-group list-group-icons" style="text-align:center; margin-top:-10px; font-size:15px;">
										<span ng-if="temp_content[$index].key_rating == 0">{{keys.balancing_description[0].desc}}</span>
										<span ng-if="temp_content[$index].key_rating > 0 && temp_content[$index].key_rating < 1">{{keys.balancing_description[1].desc}}</span>
										<span ng-if="temp_content[$index].key_rating >= 1">{{keys.balancing_description[2].desc}}</span>

									</div>
								</div>
								<div class="col-md-6" style="margin: 20px 0px; border-left: 2px solid #eee;">
									<div class="col-md-12">
										<div class="col-md-4" style="text-align: right;">
											<b style="border: 1px solid #008fe2; padding: 7px; background: #008fe2; color: #fff; opacity: 0.7;">{{keys.keyword}}</b>
										</div>
										<div class="col-md-4"></div>
										<div class="col-md-4" style="text-align: left;">
											<b style="border: 1px solid #008fe2; padding: 7px; background: #008fe2; color: #fff; opacity: 0.7;">{{temp_content[$index].keyword}}</b>
										</div>
									</div><br><br>
									<div class="col-md-12">
										<div class="col-md-2"></div>
										<div class="col-md-8">
											<input type="range" min="0" max="2" class="range" step="0.001" ng-model="temp_content2[$index].key_rating" disabled>
										</div>
										<div class="col-md-2"></div>
									</div><br><br><br>
									<div class="col-md-12 list-group list-group-icons" style="text-align:center; margin-top:-10px; font-size:15px;">
										<span ng-if="temp_content2[$index].key_rating == 0">{{keys.balancing_description[0].desc}}</span>
										<span ng-if="temp_content2[$index].key_rating > 0 && temp_content2[$index].key_rating < 1">{{keys.balancing_description[1].desc}}</span>
										<span ng-if="temp_content2[$index].key_rating >= 1">{{keys.balancing_description[2].desc}}</span>

									</div>
								</div>
								
                            </div>
                        </div>
                        <button class="btn btn-success" style="float:right;" ng-click="showBalancing = false;">Back to Edit Review</button><br><br><br><br>
</div>