<span ng-show="loading">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>    
</span>

<div id="sb-site" ng-show="!loading">
        <div id="page-wrapper">
            
            
            <div id="page-content-wrapper">
                <div id="page-content">
                
                    <div class="container">
                
                        <div id="page-title">
                            <h2>Balanced View</h2>
                        </div>
<!--                                                    SECTION START                                                          -->
                        
                            <style>
								.range {
								  -webkit-appearance: none;
								  -moz-appearance: none;
								  width: 100%
								}
								
								input[disabled]{
									opacity: 1
								}
								
								input[type=range]::-webkit-slider-runnable-track {
								  -webkit-appearance: none;
									
								  background: rgba(139,195,74,1);
									
								  background: -repeating-linear-gradient(0deg,rgb(232, 232, 232) 0%,rgba(218, 226, 231, 0.91) 50%,rgba(139,195,74,1) 50%,rgba(139,191,78,0.91) 61.3%,rgba(255,238,88,0.8) 70.2%,rgba(255,238,88,1) 81.8%,rgba(244,67,54,0.74) 91%,rgba(244,67,54,1) 100%);
									
								  background: -webkit-repeating-linear-gradient(0deg,rgb(232, 232, 232) 0%,rgba(218, 226, 231, 0.91) 50%,rgba(139,195,74,1) 50%,rgba(139,191,78,0.91) 61.3%,rgba(255,238,88,0.8) 70.2%,rgba(255,238,88,1) 81.8%,rgba(244,67,54,0.74) 91%,rgba(244,67,54,1) 100%);
                                    
								  background: -o-repeating-linear-gradient(0deg,rgb(232, 232, 232) 0%,rgba(218, 226, 231, 0.91) 50%,rgba(139,195,74,1) 50%,rgba(139,191,78,0.91) 61.3%,rgba(255,238,88,0.8) 70.2%,rgba(255,238,88,1) 81.8%,rgba(244,67,54,0.74) 91%,rgba(244,67,54,1) 100%);
                                      
								  background: -ms-repeating-linear-gradient(0deg,rgb(232, 232, 232) 0%,rgba(218, 226, 231, 0.91) 50%,rgba(139,195,74,1) 50%,rgba(139,191,78,0.91) 61.3%,rgba(255,238,88,0.8) 70.2%,rgba(255,238,88,1) 81.8%,rgba(244,67,54,0.74) 91%,rgba(244,67,54,1) 100%);
                                  
								  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8BC34A', endColorstr='#ff357f ', GradientType=1 );
								  height: 10px;
								}
								
								input[type=range]::-webkit-slider-thumb {
								  -webkit-appearance: none;
								  width: 0; 
								  height: 0; 
								  border-left: 10px solid transparent;
								  border-right: 10px solid transparent;
								  border-bottom: 15px solid 	#1E88E5;
								  margin-top: 10px;
								  -webkit-transition: border 1000ms ease;
								  transition: border 1000ms ease;
								}
							</style>
						
						<div class="panel panel-body row" style="color: red;">
							<div class="col-md-1"></div>
							<div class="col-md-2" style="text-align: right; color:lightgrey;">
								<b>REACTIVE</b>
							</div>
							<div class="col-md-2"></div>
							<div class="col-md-2" style="text-align: center; color:#8bc34a;">
								<b>RESPONSIVE</b>
							</div>
							<div class="col-md-2"></div>
							<div class="col-md-2">
								<b>REACTIVE</b>
							</div>
							<div class="col-md-1"></div>
						</div>
						
						<div class="panel" ng-repeat="keys in profile_content.profile.profile_content" ng-if="keys.linked_keyword.length != 0">
                            <div class="panel-body">
								
								<div class="col-md-12 row" style="margin: 20px 0px;">
									<div class="col-md-12">
										<div class="col-md-3" style="text-align: right; color:lightgrey;">
											<b style="border: 1px solid #eee; padding: 7px;">{{keys.dummy_keyword}}</b>
										</div>
										<div class="col-md-6" style="text-align: center;">
											<b style="border: 1px solid #008fe2; padding: 7px; background: #008fe2; color: #fff; opacity: 0.7;">{{keys.keyword}}</b>
										</div>
										<div class="col-md-3">
											<b style="border: 1px solid #008fe2; padding: 7px; background: #008fe2; color: #fff; opacity: 0.7;">{{temp_content[$index].keyword}}</b>
										</div>
									</div><br><br>
									<div class="col-md-12">
										<div class="col-md-2"></div>
										<div class="col-md-8">
											<input type="range" min="-2" max="2" class="range" step="0.001" ng-model="temp_content[$index].key_rating" disabled>
										</div>
										<div class="col-md-2"></div>
									</div><br><br><br>
									<div class="col-md-12 list-group list-group-icons" style="text-align:center; margin-top:-10px; font-size:15px;">
										
											
											<span ng-if="temp_content[$index].key_rating == 0">{{keys.balancing_description[0].desc}}</span>
											<span ng-if="temp_content[$index].key_rating > 0 && temp_content[$index].key_rating < 1">{{keys.balancing_description[1].desc}}</span>
											<span ng-if="temp_content[$index].key_rating >= 1">{{keys.balancing_description[2].desc}}</span>
										
									</div>
								</div>
                            </div>
                        </div>
                        <button class="btn btn-success" ui-sref="dashboard" style="float:right;">Back to Dashboard</button>
                    </div>
                </div>
            </div>
        </div>
</div>