<style>
	.info_box{
		background: #fff3e0;
		border: 2px dotted #ffe1A0;
		margin: -20px 80px 20px 80px;
		padding: 10px;
	}
	
	.card:hover{
		box-shadow: 4px 4px 30px #ccc;
	}
</style>

<span ng-show="loading">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>    
</span>

<div id="sb-site" ng-show="!loading">

    <div id="page-wrapper">
        
        <div id="page-content-wrapper">
            <div id="page-content-margin">
                    <div class="container" ng-if="!to_review">

						<div id="page-title">
							<h2>Dashboard</h2>
						</div>
						<br>
						<div id="form-wizard-3" class="form-wizard" style="margin-bottom: 40px; margin-top: -30px;">
							<ul>
								<li>
									<a>
										<label class="wizard-step" ng-class="(percent.reflective_filled && percent.questionnaire_filled) ?'bg_progress_completed':'bg_progress_active'">1</label>
										<span class="wizard-description">
											<small>Step 1</small>
											Reflective Questions
										</span>
									</a>
								</li>
								<li>
									<a>
										<label class="wizard-step" ng-class="(percent.reflective_filled && percent.questionnaire_filled && percent.selected_profile) ?'bg_progress_completed':((percent.reflective_filled && percent.questionnaire_filled)?'bg_progress_active':'bg_progress')">2</label>
										<span class="wizard-description">
											<small>Step 2</small>
											Assigning TrueSelf Profile
										</span>
									</a>
								</li>
								<li>
									<a>
										<label class="wizard-step" ng-class="(percent.reflective_filled && percent.questionnaire_filled && percent.selected_profile && percent.profile_filled) ?'bg_progress_completed':((percent.reflective_filled && percent.questionnaire_filled && percent.selected_profile)?'bg_progress_active':'bg_progress')">3</label>
										<span class="wizard-description">
											<small>Step 3</small>
											Building TrueSelf Profile
										</span>
									</a>
								</li>
							</ul>
						</div>
						
						<!--	INFO BOX	-->
						<div class="row info_box" ng-if="!percent.reflective_filled">
							<i class="material-icons">info</i> <span style="margin: 3px auto;">Thank You for registering with iDiscover. Kindly proceed with Step 1.</span>
						</div>
						
						<div class="row info_box" ng-if="percent.reflective_filled && !percent.questionnaire_filled">
							<i class="material-icons">info</i> <span style="margin: 3px auto;">Kindly proceed to fill Questionnaire in Step 1.</span>
						</div>
						
						<div class="row info_box" ng-if="percent.reflective_filled && percent.questionnaire_filled && !percent.selected_profile">
							<i class="material-icons">info</i> <span style="margin: 3px auto;">Thank You for completing Step 1. Please consult your facilitator for further process.</span>
						</div>
						
						<div class="row info_box" ng-if="percent.reflective_filled && percent.questionnaire_filled && percent.selected_profile && !percent.profile_filled">
							<i class="material-icons">info</i> <span style="margin: 3px auto;">Thank You for completing Step 2. Kindly proceed building your Trueself profile.</span>
						</div>
						
						<div class="row info_box" ng-if="percent.reflective_filled && percent.questionnaire_filled && percent.selected_profile && percent.profile_filled">
							<i class="material-icons">info</i> <span style="margin: 3px auto;">Thank You for completing all 3 steps. You can now check your Trueself Report.</span>
						</div>
						<!--	INFO BOX END	-->
						
						<div class="row">
							
							<div class="col-md-4" style="text-align: center;">
								<div style="display: inline-block;">

									<div class="c100 big" ng-class="'p'+percent.percentage">
										<span>{{percent.percentage}}% </span>
										
										<div class="slice">
											<div class="bar"></div>
											<div class="fill"></div>
										</div>
									</div>

								</div>
							</div>
							
							<div class="col-sm-8">
								<div class="col-sm-6">
									<div class="card card-stats" ui-sref="reflective-questions">
										<div class="card-header" data-background-color="blue" style="font-weight: bold;" ng-if="!percent.reflective_filled">1</div>
										<div class="card-header" data-background-color="green" style="font-weight: bold;" ng-if="percent.reflective_filled">1</div>
										<div class="card-content">
											<p class="category" style="font-size: 17px;">3 Reflective Questions</p>
											<h3 class="title">
												<small ng-if="percent.reflective_filled">COMPLETED</small>
												<small ng-if="!percent.reflective_filled">PROCEED</small>
											</h3>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="card card-stats" ui-sref="questionnaire" ng-if="percent.reflective_filled">
										<div class="card-header" data-background-color="blue" style="font-weight: bold;" ng-if="!percent.questionnaire_filled">1</div>
										<div class="card-header" data-background-color="green" style="font-weight: bold;" ng-if="percent.questionnaire_filled">1</div>
										<div class="card-content">
											<p class="category" style="font-size: 17px;">Questionnaire</p>
											<h3 class="title">
												<small ng-if="percent.questionnaire_filled">COMPLETED</small>
												<small ng-if="!percent.questionnaire_filled">PROCEED</small>
											</h3>
										</div>
									</div>
									<div class="card card-stats" ng-if="!percent.reflective_filled">
										<div class="card-header" data-background-color="grey" style="font-weight: bold;">1</div>
										<div class="card-content">
											<p class="category" style="font-size: 17px;">Questionnaire</p>
											<h3 class="title">
												<small>COMPLETE PREVIOUS STEPS</small>
											</h3>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="card card-stats" ui-sref="select-profile" ng-if="percent.reflective_filled && percent.questionnaire_filled && !percent.selected_profile">
										<div class="card-header" data-background-color="blue" style="font-weight: bold;">2</div>
										<div class="card-content">
											<p class="category" style="font-size: 17px;">Assigning Trueself Profile</p>
											<h3 class="title">
												<small>SELECT TRUESELF PROFILE</small>
											</h3>
										</div>
									</div>
									<div class="card card-stats" ui-sref="userProfile" ng-if="percent.reflective_filled && percent.questionnaire_filled && percent.selected_profile">
										<div class="card-header" data-background-color="blue" style="font-weight: bold;" ng-if="!percent.profile_filled">3</div>
										<div class="card-header" data-background-color="green" style="font-weight: bold;" ng-if="percent.profile_filled">3</div>
										<div class="card-content">
											<p class="category" style="font-size: 17px;">Building Trueself Profile</p>
											<h3 class="title">
												<small ng-if="percent.profile_filled">COMPLETED</small>
												<small ng-if="!percent.profile_filled">PROCEED</small>
											</h3>
										</div>
									</div>
									<div class="card card-stats" ng-if="!(percent.reflective_filled && percent.questionnaire_filled)">
										<div class="card-header" data-background-color="grey" style="font-weight: bold;">2</div>
										<div class="card-content">
											<p class="category" style="font-size: 17px;">Assigning Trueself Profile</p>
											<h3 class="title">
												<small>COMPLETE PREVIOUS STEPS</small>
											</h3>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="card card-stats" ui-sref="trueself-report" ng-if="percent.reflective_filled && percent.questionnaire_filled && percent.selected_profile && percent.profile_filled">
										<div class="card-header" data-background-color="green" style="font-weight: bold;">Explore</div>
										<div class="card-content">
											<p class="category" style="font-size: 17px;">Trueself Report</p>
											<h3 class="title">
												<small>COMPLETED</small>
											</h3>
										</div>
									</div>
									<div class="card card-stats" ng-if="!(percent.reflective_filled && percent.questionnaire_filled && percent.selected_profile && percent.profile_filled)">
										<div class="card-header" data-background-color="grey" style="font-weight: bold;">Locked</div>
										<div class="card-content">
											<p class="category" style="font-size: 17px;">Trueself Report</p>
											<h3 class="title">
												<small>COMPLETE PREVIOUS STEPS</small>
											</h3>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="" style="margin: 20px auto -20px auto;" ng-if="percent.reflective_filled && percent.questionnaire_filled && percent.selected_profile && percent.profile_filled">
							<h1 class="title-hero" style="text-align:center; font-weight:bold;">
								Add-on tools
							</h1>
								
							<div class="col-sm-4">
									<div class="card card-stats" ng-click="changeView()">
										<div class="card-header" data-background-color="green" style="font-weight: bold;">Explore</div>
										<div class="card-content">
											<p class="category" style="font-size: 17px;">Peer Review</p>
											<h3 class="title">
												<small></small>
											</h3>
										</div>
									</div>
							</div>
						</div>
				</div>
<!-----------------------------------------------------------PEER REVIEW-------------------------------------------------------------------->
						
					<div class="container" ng-if="to_review">
						<div style="display: block; width: 22%; margin: 0 auto; z-index: 10000;" ng-show="success.success == true" class="w3-animate-top">
							<div class="alert alert-success alert-with-icon" data-notify="container" style="position: fixed; margin-top: 20px; width: 300px; text-align: center;">
								<i data-notify="icon" class="material-icons">info</i>
								<span data-notify="message">{{success.message}}</span>
							</div>
						</div>
						<div id="page-title" style="text-align: center;">
							<a href="" ng-click="changeView()"><h6>Back to Dashboard</h6></a><br>
							<h2>Enter Details of Peer Reviewer(s)</h2>
						</div>

                        <br>
						
						<div class="row panel">
							<div class="col-md-12 panel-body" style="margin: 0 auto; text-align: center;">
								<div class="col-md-2" style="text-align: right;">Name: </div>
								<div class="col-md-2" style="text-align: left;"><input type="text" width="100%" ng-model="reviewer.name"></div>
								
								<div class="col-md-2" style="text-align: right;">Relationship: </div>
								<div class="col-md-2" style="text-align: left;"><input type="text" width="100%" ng-model="reviewer.relationship"></div>
								
								<div class="col-md-2" style="text-align: right;">Email-ID: </div>
								<div class="col-md-2" style="text-align: left;"><input type="text" width="100%" ng-model="reviewer.emailid"></div>
								<br><br><br>
								<button class="btn btn-success" ng-click="addReviewer()" ng-disabled="!(reviewer.name && reviewer.relationship && reviewer.emailid)">Add to List</button>
							</div>
						</div>
						
						<div id="page-title" style="text-align: center;" ng-show="reviewers.length != 0">
							<h2>Recipients to Review</h2>
						</div>
						<div class="row panel" ng-show="reviewers.length != 0">
							<div class="col-md-12 panel-body" style="margin: 0 auto; text-align: center;">
								
								<span ng-repeat="rec in reviewers">
									<h5><b>Reviewer #{{$index}}</b></h5><br>
									<div class="col-md-2" style="text-align: right;">Name: </div>
									<div class="col-md-2" style="text-align: left;"><input type="text" width="100%" ng-model="rec.name"></div>
									
									<div class="col-md-2" style="text-align: right;">Relationship: </div>
									<div class="col-md-2" style="text-align: left;"><input type="text" width="100%" ng-model="rec.relationship"></div>
									
									<div class="col-md-2" style="text-align: right;">Email-ID: </div>
									<div class="col-md-2" style="text-align: left;"><input type="text" width="100%" ng-model="rec.emailid"></div>
									<br><br>
								</span>
								<br>
								<button class="btn btn-danger" ng-click="submitReviewer()">Send Mail</button>
							</div>
						</div>
					</div>
            </div>
        </div>
    </div>

</div>