<span ng-show="loading">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>    
</span>

<div id="sb-site" ng-show="!loading">

    <div id="page-wrapper">
        
        <div id="page-content-wrapper">
            <div id="page-content-margin">
                    <div class="container" ng-if="!to_review">

						<div id="page-title">
							<h2>Dashboard</h2>
						</div>

                        <br>
						<ul class="progress-tracker" style="font-size: 15px;">
						  <li class="progress-step" ng-class="percent.reflective_filled ? 'is-complete' : 'is-active'">
							<span class="progress-marker">1</span>
							<span class="progress-title" style="margin-left: -50px;">Reflective Questions</span>
						  </li>
						  <li class="progress-step" ng-class="(percent.reflective_filled && percent.questionnaire_filled) ? 'is-complete' : (percent.reflective_filled ? 'is-active' : '')">
							<span class="progress-marker">2</span>
							<span class="progress-title" style="margin-left: -35px;">Questionnaire</span>
						  </li>
						  <li class="progress-step" ng-class="(percent.reflective_filled && percent.questionnaire_filled && percent.selected_profile) ? 'is-complete' : ((percent.reflective_filled && percent.questionnaire_filled) ? 'is-active' : '')">
							<span class="progress-marker">3</span>
							<span class="progress-title" style="margin-left: -28px;">Select Profile</span>
						  </li>
						  <li class="progress-step" ng-class="(percent.reflective_filled && percent.questionnaire_filled && percent.selected_profile && percent.profile_filled) ? 'is-complete' : ((percent.reflective_filled && percent.questionnaire_filled && percent.selected_profile) ? 'is-active' : '')">
							<span class="progress-marker">4</span>
							<span class="progress-title" style="margin-left: -18px;">Fill Profile</span>
						  </li>
						  <li class="progress-step" ng-class="(percent.reflective_filled && percent.questionnaire_filled && percent.selected_profile && percent.profile_filled) ? 'is-complete' : ''">
							<span class="progress-marker">5</span>
							<span class="progress-title" style="margin-left: -54px;">View Profile</span>
						  </li>
						</ul>
						<br>
						
						<div class="row">
							
							<div class="col-md-4" style="text-align: center;">
								<div style="display: inline-block;">

									<div class="c100 big" ng-class="'p'+percent.percentage">
										<span>{{percent.percentage}}% </span>
										
										<div class="slice">
											<div class="bar"></div>
											<div class="fill"></div>
										</div>
									</div>

								</div>
							</div>
							<div class="col-sm-8">
								<div class="col-sm-6">
									<div class="card card-stats" ui-sref="reflective-questions">
										<div class="card-header" data-background-color="blue" style="font-weight: bold;" ng-if="!percent.reflective_filled">1</div>
										<div class="card-header" data-background-color="green" style="font-weight: bold;" ng-if="percent.reflective_filled">1</div>
										<div class="card-content">
											<p class="category" style="font-size: 17px;">Reflective Questions</p>
											<h3 class="title">
												<small ng-if="percent.reflective_filled">COMPLETED</small>
												<small ng-if="!percent.reflective_filled">PROCEED</small>
											</h3>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="card card-stats" ui-sref="questionnaire" ng-if="percent.reflective_filled">
										<div class="card-header" data-background-color="blue" style="font-weight: bold;" ng-if="!percent.questionnaire_filled">2</div>
										<div class="card-header" data-background-color="green" style="font-weight: bold;" ng-if="percent.questionnaire_filled">2</div>
										<div class="card-content">
											<p class="category" style="font-size: 17px;">Questionnaire</p>
											<h3 class="title">
												<small ng-if="percent.questionnaire_filled">COMPLETED</small>
												<small ng-if="!percent.questionnaire_filled">PROCEED</small>
											</h3>
										</div>
									</div>
									<div class="card card-stats" ng-if="!percent.reflective_filled">
										<div class="card-header" data-background-color="grey" style="font-weight: bold;">2</div>
										<div class="card-content">
											<p class="category" style="font-size: 17px;">Questionnaire</p>
											<h3 class="title">
												<small>FILL REFLECTIVE QUESTIONS</small>
											</h3>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="card card-stats" ui-sref="select-profile" ng-if="percent.reflective_filled && percent.questionnaire_filled && !percent.selected_profile">
										<div class="card-header" data-background-color="blue" style="font-weight: bold;">3</div>
										<div class="card-content">
											<p class="category" style="font-size: 17px;">Trueself Profile</p>
											<h3 class="title">
												<small>SELECT PROFILE</small>
											</h3>
										</div>
									</div>
									<div class="card card-stats" ui-sref="userProfile" ng-if="percent.reflective_filled && percent.questionnaire_filled && percent.selected_profile">
										<div class="card-header" data-background-color="blue" style="font-weight: bold;" ng-if="!percent.profile_filled">4</div>
										<div class="card-header" data-background-color="green" style="font-weight: bold;" ng-if="percent.profile_filled">4</div>
										<div class="card-content">
											<p class="category" style="font-size: 17px;">Trueself Profile</p>
											<h3 class="title">
												<small ng-if="percent.profile_filled">COMPLETED</small>
												<small ng-if="!percent.profile_filled">PROCEED</small>
											</h3>
										</div>
									</div>
									<div class="card card-stats" ng-if="!(percent.reflective_filled && percent.questionnaire_filled)">
										<div class="card-header" data-background-color="grey" style="font-weight: bold;" ng-if="!percent.selected_profile">3</div>
										<div class="card-header" data-background-color="grey" style="font-weight: bold;" ng-if="percent.selected_profile">4</div>
										<div class="card-content">
											<p class="category" style="font-size: 17px;">Trueself Profile</p>
											<h3 class="title">
												<small>FILL QUESTIONNAIRE</small>
											</h3>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="card card-stats" ng-click="changeView()" ng-if="percent.reflective_filled && percent.questionnaire_filled && percent.selected_profile && percent.profile_filled">
										<div class="card-header" data-background-color="green" style="font-weight: bold;">5</div>
										<div class="card-content">
											<p class="category" style="font-size: 17px;">Peer Review</p>
											<h3 class="title">
												<small>COMPLETED</small>
											</h3>
										</div>
									</div>
									<div class="card card-stats" ng-if="!(percent.reflective_filled && percent.questionnaire_filled && percent.selected_profile && percent.profile_filled)">
										<div class="card-header" data-background-color="grey" style="font-weight: bold;">5</div>
										<div class="card-content">
											<p class="category" style="font-size: 17px;">Peer Review</p>
											<h3 class="title">
												<small>FILL TRUESELF PROFILE</small>
											</h3>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="col-sm-4">
									<div class="card card-stats" ui-sref="detailed-profile" ng-if="percent.reflective_filled && percent.questionnaire_filled && percent.selected_profile && percent.profile_filled">
										<div class="card-header" data-background-color="green" style="font-weight: bold;">5</div>
										<div class="card-content">
											<p class="category" style="font-size: 17px;">Detailed View</p>
											<h3 class="title">
												<small>COMPLETED</small>
											</h3>
										</div>
									</div>
									<div class="card card-stats" ng-if="!(percent.reflective_filled && percent.questionnaire_filled && percent.selected_profile && percent.profile_filled)">
										<div class="card-header" data-background-color="grey" style="font-weight: bold;">5</div>
										<div class="card-content">
											<p class="category" style="font-size: 17px;">Detailed View</p>
											<h3 class="title">
												<small>FILL TRUESELF PROFILE</small>
											</h3>
										</div>
									</div>
								</div>
							
								<div class="col-sm-4">
									<div class="card card-stats" ui-sref="precise-profile" ng-if="percent.reflective_filled && percent.questionnaire_filled && percent.selected_profile && percent.profile_filled">
										<div class="card-header" data-background-color="green" style="font-weight: bold;">5</div>
										<div class="card-content">
											<p class="category" style="font-size: 17px;">Precised View</p>
											<h3 class="title">
												<small>COMPLETED</small>
											</h3>
										</div>
									</div>
									<div class="card card-stats" ng-if="!(percent.reflective_filled && percent.questionnaire_filled && percent.selected_profile && percent.profile_filled)">
										<div class="card-header" data-background-color="grey" style="font-weight: bold;">5</div>
										<div class="card-content">
											<p class="category" style="font-size: 17px;">Precised View</p>
											<h3 class="title">
												<small>FILL TRUESELF PROFILE</small>
											</h3>
										</div>
									</div>
								</div>
							
								<div class="col-sm-4">
									<div class="card card-stats" ui-sref="balancing-view" ng-if="percent.reflective_filled && percent.questionnaire_filled && percent.selected_profile && percent.profile_filled">
										<div class="card-header" data-background-color="green" style="font-weight: bold;">5</div>
										<div class="card-content">
											<p class="category" style="font-size: 17px;">Balanced View</p>
											<h3 class="title">
												<small>COMPLETED</small>
											</h3>
										</div>
									</div>
									<div class="card card-stats" ng-if="!(percent.reflective_filled && percent.questionnaire_filled && percent.selected_profile && percent.profile_filled)">
										<div class="card-header" data-background-color="grey" style="font-weight: bold;">5</div>
										<div class="card-content">
											<p class="category" style="font-size: 17px;">Balanced View</p>
											<h3 class="title">
												<small>FILL TRUESELF PROFILE</small>
											</h3>
										</div>
									</div>
								</div>
							</div>
						</div>
				</div>
<!----------------------------------------------------------------------------------------------------------------------------------------->
						
					<div class="container" ng-if="to_review">
						<div style="display: block; width: 22%; margin: 0 auto; z-index: 10000;" ng-show="success.success == true" class="w3-animate-top">
							<div class="alert alert-success alert-with-icon" data-notify="container" style="position: fixed; margin-top: 20px; width: 300px; text-align: center;">
								<i data-notify="icon" class="material-icons">info</i>
								<span data-notify="message">{{success.message}}</span>
							</div>
						</div>
						<div id="page-title" style="text-align: center;">
							<a href="" ng-click="changeView()"><h6>Back to Dashboard</h6></a><br>
							<h2>Enter Details of Peer Reviewer(s)</h2>
						</div>

                        <br>
						
						<div class="row panel">
							<div class="col-md-12 panel-body" style="margin: 0 auto; text-align: center;">
								<div class="col-md-2" style="text-align: right;">Name: </div>
								<div class="col-md-2" style="text-align: left;"><input type="text" width="100%" ng-model="reviewer.name"></div>
								
								<div class="col-md-2" style="text-align: right;">Relationship: </div>
								<div class="col-md-2" style="text-align: left;"><input type="text" width="100%" ng-model="reviewer.relationship"></div>
								
								<div class="col-md-2" style="text-align: right;">Email-ID: </div>
								<div class="col-md-2" style="text-align: left;"><input type="text" width="100%" ng-model="reviewer.emailid"></div>
								<br><br><br>
								<button class="btn btn-success" ng-click="addReviewer()" ng-disabled="!(reviewer.name && reviewer.relationship && reviewer.emailid)">Add to List</button>
							</div>
						</div>
						
						<div id="page-title" style="text-align: center;" ng-show="reviewers.length != 0">
							<h2>Recipients to Review</h2>
						</div>
						<div class="row panel" ng-show="reviewers.length != 0">
							<div class="col-md-12 panel-body" style="margin: 0 auto; text-align: center;">
								
								<span ng-repeat="rec in reviewers">
									<h5><b>Reviewer #{{$index}}</b></h5><br>
									<div class="col-md-2" style="text-align: right;">Name: </div>
									<div class="col-md-2" style="text-align: left;"><input type="text" width="100%" ng-model="rec.name"></div>
									
									<div class="col-md-2" style="text-align: right;">Relationship: </div>
									<div class="col-md-2" style="text-align: left;"><input type="text" width="100%" ng-model="rec.relationship"></div>
									
									<div class="col-md-2" style="text-align: right;">Email-ID: </div>
									<div class="col-md-2" style="text-align: left;"><input type="text" width="100%" ng-model="rec.emailid"></div>
									<br><br>
								</span>
								<br>
								<button class="btn btn-danger" ng-click="submitReviewer()">Send Mail</button>
							</div>
						</div>
					</div>
            </div>
        </div>
    </div>

</div>