<span ng-show="loading">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>    
</span>

<div id="sb-site" ng-show="!loading">
        
    <div id="page-wrapper">
        
        <div id="page-content-wrapper">
            <div id="page-content">
                
                    <div class="container">
						
						<div id="page-title">
							<h2>Please provide the following information to get started</h2>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="panel">
									<div class="panel-body">
										<h3 class="title-hero">
											<b>Personal Details</b>
										</h3>
										<div class="example-box-wrapper">

											<form class="form-horizontal bordered-row" role="form">
												<div class="form-group">
													<label for="" class="col-sm-4 control-label">Age</label>
													<div class="col-sm-8">
														<div class="input-prepend input-group">
															<!--<span class="add-on input-group-addon">
																<i class="glyph-icon icon-calendar"></i>
															</span>-->
															<input type="number" class="form-control" placeholder="Age" required ng-model="userDetails.age" min="5" max="80">
														</div>
													</div>
												</div>
												<div class="form-group">
													<label for="" class="col-sm-4 control-label">Gender</label>
													<div class="col-sm-8">
														<select class="form-control" required ng-model="userDetails.sex">
															<option value="Gender" default disabled>Gender</option>
															<option value="Male">Male</option>
															<option value="Female">Female</option>
														</select>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>

								<div class="panel">
									<div class="panel-body">
										<h3 class="title-hero">
											<b>Role &amp; Responsibility</b>
										</h3>
										<div class="example-box-wrapper">
											<form class="form-horizontal bordered-row" role="form">
												<div class="form-group">
													<label class="control-label" style="text-align:center">Please write (in your own words) your current roles and responsibilities you are playing in your organization</label>
												   <br><br>

													<textarea class="form-control" type="text" ng-model="userDetails.work_details.role_responsibility"></textarea>


												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="panel">
									<div class="panel-body">
										<h3 class="title-hero">
											<b>Professional Details</b>
										</h3>
										<div class="example-box-wrapper">
											<form class="form-horizontal bordered-row" role="form">
												<div class="form-group">
													<label for="" class="col-sm-4 control-label">Work Experience</label>
													<div class="col-sm-8">
														<div class="input-prepend input-group">
														   <select class="form-control" required ng-model="userDetails.work_details.experience">
																<option value="Work Experience" disabled>Work Experience</option>
																<option value="Less than 2 years">Less than 2 years</option>
																<option value="2 years - 5 years">2 years - 5 years</option>
																<option value="6 years - 10 years">6 years - 10 years</option>
																<option value="11 years - 15 years">11 years - 15 years</option>
																<option value="More than 16 years">More than 16 years</option>
															</select>
														</div>
													</div>
												</div>
												<div class="form-group">
													<label for="" class="col-sm-4 control-label">Enter Company Name</label>
													<div class="col-sm-8">
													   <input class="form-control" type="text" placeholder="Eg. Samsung" ng-model="userDetails.work_details.current_company">
													</div>
												</div>
												<div class="form-group">
													<label for="" class="col-sm-4 control-label">Enter Department</label>
													<div class="col-sm-8">
														<div class="input-prepend input-group">

															<input type="text" class="form-control" placeholder="Eg. Operation" ng-model="userDetails.work_details.department">
														</div>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>

								<div class="panel">
									<div class="panel-body">
										<div class="example-box-wrapper">
											<form class="form-horizontal" role="form">
												<div class="form-group">
													<label for="" class="col-sm-4 control-label">Choose iDiscover Facilitator</label>
													<div class="col-sm-8">
														<div class="clearfix row" style="margin-bottom: 7px;">
															<div class="col-sm-12">
																<select class="form-control" required ng-model="userDetails.facilitator_name">
																	<option class="" value="" disabled>Select iDiscover Facilitator</option>
																	<option ng-repeat="fc in facList" value="{{fc.facName}}">{{fc.facName}}</option>
																	<!--<option value="Lavish Dudeja">Lavish Dudeja</option>
																	<option value="Mandeep Singh Kalra">Mandeep Singh Kalra</option>
																	<option value="Pranam Bansal">Pranam Bansal</option>-->
																</select>
																
															</div>
														</div>
														<div style="text-align: center;" ng-if="submitted && ((userDetails.facilitator_name == '') || (userDetails.facilitator_name == '--UNKNOWN--'))">
															<span style="color: red;">Kindly choose iDiscover Facilitator</span>
														</div>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>

							</div>

							<button class="btn btn-primary" ng-click="proceed()">Proceed</button>

						</div>
                    </div>

                

            </div>
        </div>
   
	</div>
</div>