		<div id="page-header" class="bg-gradient-9" ng-show="show">
            <div id="mobile-navigation" ui-sref="dashboard">
                <button id="nav-toggle" class="collapsed" data-toggle="collapse" data-target="#page-sidebar"></button>
                <a href="index.html" class="logo-content-small"></a>
            </div>
            <div id="header-logo" class="logo-bg" style="margin: 0 auto;">
                <a ui-sref="dashboard" class="logo-content-big"></a>
            </div>
            <div id="header-nav-left">
				
                <div class="user-account-btn dropdown">
                    <a class="user-profile" data-toggle="dropdown">
						<span class="avatar-circle avatar-small">
							<span class="initials ini-small">{{user.firstname[0] + user.lastname[0]}}</span>
						</span>
                        <span>{{user.firstname + ' ' + user.lastname}}</span>
                        <i class="glyph-icon icon-angle-down"></i>
                    </a>
                    <div class="dropdown-menu float-left">
                        <div class="box-sm">
                            <div class="login-box">
                                <div class="user-img">
                                    <div class="avatar-circle avatar-big">
                                        <span class="initials ini-big">{{user.firstname[0] + user.lastname[0]}}</span>
                                    </div>
                                </div>
                                <div class="user-info">
                                    <span>
                                        {{user.firstname + ' ' + user.lastname}}<br>
										<span style="font-size: 13px; color: grey;">{{user.username}}</span>
                                    </span>
									
                                    <a ui-sref="personal-details" title="Edit Your Personal Information">Edit Personal Details</a>

                                </div>
                            </div>
                            <div class="divider"></div>
                            <ul class="reset-ul mrg5B">
                                <li>
                                    <a copy-to-clipboard text-to-copy="'app.idiscover.me/#/trueself-report-share/'+user._id">
                                        Copy to Clipboard
                                    </a>
                                    <textarea class="form-control" rows="2">app.idiscover.me/#/trueself-report-share/{{user._id}}</textarea>
                                </li>

                            </ul>
                            <div class="pad5A button-pane button-pane-alt text-center">
                                <a ng-click="doLogout()" class="btn display-block font-normal btn-danger" style="color: white;">
                                    <i class="glyph-icon icon-power-off"></i>
                                    Logout
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- #header-nav-left -->
            
        </div>