		<div id="page-sidebar">
            <div class="scroll-sidebar">

            <ul id="sidebar-menu">
            <li class="header"><span>Instructions</span></li>
            <li style="background-color:white;">
                <a ui-sref="process-steps" class="sfActive">
                    <i class="glyph-icon icon-linecons-tv"></i>
                    <span>Process Steps</span>
                </a>
            </li>
            <li class="divider"></li>
            <li class="no-menu">
                <a href="https://agileui.com/demo/monarch/demo/frontend-template/index.html" title="Frontend template">
                    <i class="glyph-icon icon-linecons-beaker"></i>
                    <span>Any Video</span>

                </a>
            </li>
            <li class="header"><span>Reflective Questions</span></li>
            <li>
                <a ui-sref="reflective-questions" title="Elements">
                    <i class="glyph-icon icon-linecons-diamond"></i>
                    <span>Edit</span>
                </a>
                <div class="sidebar-submenu">

                    <ul>
                        <li><a href="buttons.html" title="Buttons"><span>Buttons</span></a></li>
                        <li><a href="labels-badges.html" title="Labels &amp; Badges"><span>Labels &amp; Badges</span></a></li>
                        <li><a href="content-boxes.html" title="Content boxes"><span>Content boxes</span></a></li>
                        <li><a href="icons.html" title="Icons"><span>Icons</span></a></li>
                        <li><a href="nav-menus.html" title="Navigation menus"><span>Navigation menus</span></a></li>
                        <li><a href="response-messages.html" title="Response messages"><span>Response messages</span></a></li>
                        <li><a href="images.html" title="Images"><span>Images</span></a></li>
                    </ul>

                </div><!-- .sidebar-submenu -->
            </li>
            <li>
                <a href="#" title="Dashboard boxes">
                    <i class="glyph-icon icon-linecons-lightbulb"></i>
                    <span>View</span>
                    <span class="bs-label label-danger">NEW</span>
                </a>
                <div class="sidebar-submenu">

                    <ul>
                        <li><a href="chart-boxes.html" title="Chart boxes"><span>Chart boxes</span></a></li>
                        <li><a href="tile-boxes.html" title="Tile boxes"><span>Tile boxes</span></a></li>
                        <li><a href="social-boxes.html" title="Social boxes"><span>Social boxes</span></a></li>
                        <li><a href="panel-boxes.html" title="Panel boxes"><span>Panel boxes</span></a></li>
                    </ul>

                </div><!-- .sidebar-submenu -->
            </li>



            <li class="header"><span>TrueSelf Profile</span></li>
            <li>
                <a ui-sref="select-profile">
                    <i class="glyph-icon icon-linecons-doc"></i>
                    <span>Select Type</span>
                </a>
            </li>
            <li>
                <a ui-sref="userProfile">
                    <i class="glyph-icon icon-linecons-doc"></i>
                    <span>Edit</span>
                </a>
                <div class="sidebar-submenu">

                    <ul>
                        <li><a href="helper-classes.html" title="Helper classes"><span>Helper classes</span></a></li>
                        <li><a href="page-transitions.html" title="Page transitions"><span>Page transitions</span></a></li>
                        <li><a href="animations.html" title="Animations"><span>Animations</span></a></li>
                    </ul>

                </div><!-- .sidebar-submenu -->
            </li>

            <li>
                <a href="#" title="Helpers">
                    <i class="glyph-icon icon-linecons-doc"></i>
                    <span>View</span>
                </a>
                <div class="sidebar-submenu">

                    <ul>
                        <li><a href="helper-classes.html" title="Helper classes"><span>TrueSelf Profile</span></a></li>
                        <li><a href="page-transitions.html" title="Page transitions"><span>Balancing Profile</span></a></li>

                    </ul>

                </div><!-- .sidebar-submenu -->
            </li>
            </ul><!-- #sidebar-menu -->


            </div>
        </div>