<style>
	.bg-tab {
		background-color: white;
	}
</style>
<div id="page-sidebar" ng-show="show">
			
	<div class="scroll-sidebar">

		<ul id="sidebar-menu">
            <li class="header"><span>Instructions</span></li>
            <li >
                <a ui-sref="process-steps" ng-class="current_state == 'process-steps' ? 'bg-tab':''">
                    <i class="glyph-icon icon-align-justify"></i>
                    <span>Process Steps</span>
                </a>
            </li>
            <li class="no-menu">
                <a ui-sref="" ng-class="current_state == '' ? 'bg-tab':''">
                    <i class="glyph-icon icon-linecons-tv"></i>
                    <span>Any Video</span>

                </a>
            </li>
            <li class="divider"></li>
            <li class="header"><span>Step 1: Reflective Questions</span></li>
            <li>
                <a ui-sref="reflective-questions" ng-class="current_state == 'reflective-questions' ? 'bg-tab':''">
                    <span style="color: green; margin-left: 8px; margin-right: 4px;"><i class="material-icons" ng-if="percent.reflective_filled">check_circle</i></span>
					<i class="glyph-icon icon-file" ng-if="!percent.reflective_filled"></i>
                    <span>3 Reflective Questions</span>
                </a>        
<!--
                    <ul>
                        <li><a href="buttons.html" ><span>View</span></a></li>
                        <li><a href="labels-badges.html"><span>Edit/Update</span></a></li>
                       
                    </ul>-->
            </li>
            <li>
                <a ui-sref="questionnaire" ng-class="current_state == 'questionnaire' ? 'bg-tab':''">
                    <span style="color: green; margin-left: 8px; margin-right: 4px;"><i class="material-icons" ng-if="percent.questionnaire_filled">check_circle</i></span>
					<i class="glyph-icon icon-th" ng-if="!percent.questionnaire_filled"></i>
                    <span>Online Questionnaire</span>
                </a>
            
            </li>

            <li class="divider"></li>

            <li class="header"><span>Step 2: Assigned TrueSelf Profile</span></li>
            <li>
                <a ui-sref="select-profile" ng-class="current_state == '' ? 'bg-tab':''">
                    <span style="color: green; margin-left: 8px; margin-right: 4px;"><i class="material-icons" ng-if="percent.selected_profile">check_circle</i></span>
					<i class="glyph-icon icon-arrow-right" ng-if="!percent.selected_profile"></i>
                    <span>Select TrueSelf Profile</span>
                </a>
            </li>
            
            <li class="divider"></li>
				
			<li class="header">Step 3: Building TrueSelf Profile </li>
            
            <li>
                <a ui-sref="userProfile">
					<span style="color: green; margin-left: 8px; margin-right: 4px;"><i class="material-icons" ng-if="percent.profile_filled">check_circle</i></span>
                    <i class="glyph-icon icon-linecons-doc" ng-if="!xpercent.profile_filled"></i>
                    <span>Create/Update</span>
                </a>
                <div class="sidebar-submenu">

                    <ul>
                        <li><a href="helper-classes.html" title="Helper classes"><span>Helper classes</span></a></li>
                        <li><a href="page-transitions.html" title="Page transitions"><span>Page transitions</span></a></li>
                        <li><a href="animations.html" title="Animations"><span>Animations</span></a></li>
                    </ul>

                </div><!-- .sidebar-submenu -->
            </li>
<!--
            <li>
                <a ui-sref="detailed-profile">
                    <i class="glyph-icon icon-linecons-doc"></i>
                    <span>View</span>
                </a>
                <div class="sidebar-submenu">

                    <ul>
                        <li><a href="helper-classes.html" title="Helper classes"><span>TrueSelf Profile</span></a></li>
                        <li><a href="page-transitions.html" title="Page transitions"><span>Balancing Profile</span></a></li>

                    </ul>

                </div>
            </li>-->
		
		</ul><!-- #sidebar-menu -->


	</div>
</div>