<!-- WIDGETS -->

<style type="text/css">
    html,body {
        @import url('https://fonts.googleapis.com/css?family=Montserrat');
        height: 100%;
        background: -webkit-linear-gradient(#2196F3, white);
    }
</style>

<div style="display: block; width: 22%; margin: 0 auto; z-index: 10000;" class="w3-animate-top" ng-if="message">
		<div class="alert alert-warning alert-with-icon" data-notify="container" style="position: fixed; margin-top: 100px; width: 300px; text-align: center;">
			<i data-notify="icon" class="material-icons">info_outline</i>
			<span data-notify="message">{{message}}</span>
		</div>
</div>

<div class="center-vertical">
    <div class="center-content row">

        <div class="col-md-6 center-margin">
			<!-- LOGIN -->
            <div class="content-box border-top border-red clearfix" style="margin-top:20%; text-align: center;" ng-show="which_one == 1">
               <br><img src=".\assets/image-resources/logo%20blue.png" width="300px"><br>
				
				<div style="margin: 15px; padding: 15px;" ng-show="deviceDet == 'ie'">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<i class="material-icons" style="color: #aaa; font-size: 60px;">phonelink_off</i><br><br>
						It seems your browser is not compatible with iDiscover.me.<br><br>
						We highly recommend you will use one of the browsers listed below:<br><br>
						<a href="https://www.google.com/chrome/">Google Chrome</a><br>
						<a href="https://www.mozilla.org/en-US/firefox/new/">Mozilla Firefox</a>
					</div>
				</div>
				
                <div class="content-box-wrapper row" style="margin: 0 auto;" ng-show="deviceDet != 'ie'">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="col-xs-12 col-sm-12 col-md-8">
							<h3> Log in to your iDiscover.me account</h3>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-4">
							<a ui-sref="register">
								<i class="glyph-icon icon-external-link"></i>
								New User? Register Here!
							</a>
						</div>
					</div>
                    <form id="login-validation" class="col-md-10" ng-submit="doLogin()" style="margin: 0 auto;">
                        <div id="login-form">
                            <div class="pad20A">

                                <div class="form-group col-xs-12 col-sm-12 col-md-12">
                                    
                                    <div class="input-group input-group-lg">
                                        <span class="input-group-addon addon-inside bg-white font-primary">
                                            <i class="glyph-icon icon-envelope-o"></i>
                                        </span>
                                        <input type="email" class="form-control" placeholder="Enter Email-ID" ng-model="loginData.username" required>
                                    </div>
                                </div>
                                <div class="form-group col-xs-12 col-sm-12 col-md-12">
                                    <div class="input-group input-group-lg">
                                        <span class="input-group-addon addon-inside bg-white font-primary">
                                            <i class="glyph-icon icon-unlock-alt"></i>
                                        </span>
                                        <input type="password" class="form-control" placeholder="Enter Password" ng-model="loginData.password" required>
                                    </div>
                                </div>
                                
                                <div class="form-group col-xs-12 col-sm-12 col-md-6">
                                    <input ng-disabled="!login_button" type="submit" class="btn btn-block btn-blue-alt" value="Log In">
                                </div>
                                   
                                <div class="col-xs-12 col-sm-12 col-md-6">
									<a class="btn btn-block bg-google" href="user/auth/google">
										<span class="glyph-icon icon-separator">
											<i class="glyph-icon icon-google-plus"></i>
										</span>
										<span class="button-content">
											Connect with Google+
										</span>
                                	</a>
								</div>
								
                            </div>
                        </div>

                    </form>
					<a href="" style="margin: 0 auto; color: #aaa; font-size: 15px;">
						<span ng-click="which_one = 2"><b>Forgot Password?</b></span>
					</a>

                </div>
				
            </div>
			<!-- FORGOT PSW -->
			<div class="content-box border-top border-red clearfix" style="margin-top:30%;" ng-show="which_one == 2">
               
                <div class="content-box-wrapper row">
                    <div class="col-sm-1">&nbsp;</div>
                    <form id="login-validation2" class="col-md-10" ng-submit="doForget()">
						<h3> Please enter your Registered Email-ID</h3>
                        <div id="login-form2">
                            <div class="pad20A">

                                <div class="form-group">
                                    
                                    <div class="input-group input-group-lg">
                                        <span class="input-group-addon addon-inside bg-white font-primary">
                                            <i class="glyph-icon icon-envelope-o"></i>
                                        </span>
                                        <input type="email" class="form-control" placeholder="Enter Email-ID" ng-model="loginData.username" required>
                                    </div>
									<br>
									<input ng-disabled="!login_button" type="submit" class="btn btn-block btn-blue-alt" value="Send Me Instructions">
                                </div>
                                
                            </div>
                        </div>
                    </form>

                </div>
            </div>

        </div>
       
    </div>
</div>