<span ng-show="loading">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>    
</span>

<style>
	.img-size{
		text-align: center;
	}
	
	.heading-font{
		font-family: "AR Darling", Times, serif;
		font-size: 40px;
		text-align: center;
	}
	
	.desc-font{
		font-family: "Berlin Sans FB", Times, serif;
		font-size: 40px;
		text-align: center;
	}
</style>

<div ng-show="!loading" style="margin-top: 100px;">
	<div class="img-size">
		<img src="./images/welcome.png" width="200px" height="200px">
	</div>
	<div class="heading-font">
		WelcomE
	</div>
	<div class="desc-font">
		{{user.firstname + ' ' + user.lastname}}
	</div>
</div>