<style>
		div{
			-webkit-user-select: auto;
			-moz-user-select: auto;
			-ms-user-select: auto;
			user-select: auto;
		}
</style>

<link rel="stylesheet" type="text/css" href="./assets/pv.css">

<span ng-show="loading">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>    
</span>

<div class="wrapper" ng-show="!loading">
	
	<div class="container panel panel-body">
									
		<div class="col-md-12" style="background: #ffd585; text-align: center; padding: 15px; border-radius: 10px;">
			<div class="col-md-12">
				<span style="font-size: 24px;"><b>{{user.firstname+' '+user.lastname}}'s Values and Culture Assessment</b></span><br>
			</div>
			
			<div style="text-align: left; padding: 20px 20px 20px 20px; margin-left: 50px; font-size: 14px;" class="row">
				<span class="col-md-3" style="text-align: right;">Position Applied for:</span><span class="col-md-3"><b>{{user.assessor.position}}</b></span>
				<span class="col-md-3" style="text-align: right;">Experience:</span><span class="col-md-3"><b>{{user.work_details.experience}}</b></span>
				<span class="col-md-3" style="text-align: right;">Enneagram Profile:</span><span class="col-md-3"><b>{{user.profile.profile_number}}</b></span>
				<span class="col-md-3" style="text-align: right;">Personal Mastery Level:</span><span class="col-md-3"><b>{{user.assessor.per_mast_lvl}}</b></span>
				<span class="col-md-3" style="text-align: right;">Result:</span><span class="col-md-3"><b>{{user.assessor.result}}</b></span>
			</div>
		</div>

		<h4 style="padding: 15px;" ng-bind-html="user.assessor.description | linebreaks"></h4>

		<div class="row col-sm-12" style="margin-top: 25px; margin-bottom: 25px; text-align: center;">

			<div class="form-group col-md-12">
				<label class="col-sm-2 control-label">Self-awareness and Clarity</label>
				<div class="col-sm-2" style="text-align: center;">
					<div>
						<b>{{user.assessor.slf_aware}}</b>
					</div>
				</div>
				<div class="col-sm-8" style="margin-top: 7px; text-align: center;">
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="40" style="width:{{user.assessor.slf_aware*33.3}}%" ng-class="(user.assessor.slf_aware>=0 && user.assessor.slf_aware<=1)?'progress-bar-danger':(user.assessor.slf_aware<=2 ? 'progress-bar-warning':'progress-bar-success')">{{user.assessor.slf_aware}} / 3.0
						</div>
					</div>
				</div>
				<div class="col-sm-offset-4 col-sm-8" style="margin-bottom: 20px; text-align: center;">
					<span ng-show="user.assessor.slf_aware>=0 && user.assessor.slf_aware<=1">
						<span>{{user.assessor.rubric[0][0]}}</span>
					</span>
					<span ng-show="user.assessor.slf_aware>1 && user.assessor.slf_aware<=2">
						<span>{{user.assessor.rubric[0][1]}}</span>
					</span>
					<span ng-show="user.assessor.slf_aware>2">
						<span>{{user.assessor.rubric[0][2]}}</span>
					</span>
				</div>
			</div>

			<div class="form-group col-md-12">
				<label class="col-sm-2 control-label">Openness and Self-disclosure</label>
				<div class="col-sm-2" style="text-align: center;">
					<div>
						<b>{{user.assessor.openness}}</b>
					</div>
				</div>
				<div class="col-sm-8" style="margin-top: 7px;">
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="40" style="width:{{user.assessor.openness*33.3}}%" ng-	class="(user.assessor.openness>=0 && user.assessor.openness<=1)?'progress-bar-danger':(user.assessor.openness<=2 ? 'progress-bar-warning':'progress-bar-success')">{{user.assessor.openness}} / 3.0
						</div>
					</div>
				</div>
				<div class="col-sm-offset-4 col-sm-8" style="margin-bottom: 20px; text-align: center;">
					<span ng-show="user.assessor.openness>=0 && user.assessor.openness<=1">
						<span>{{user.assessor.rubric[1][0]}}</span>
					</span>
					<span ng-show="user.assessor.openness>1 && user.assessor.openness<=2">
						<span>{{user.assessor.rubric[1][1]}}</span>
					</span>
					<span ng-show="user.assessor.openness>2">
						<span>{{user.assessor.rubric[1][2]}}</span>
					</span>
				</div>
			</div>

			<div class="form-group col-md-12">
				<label class="col-sm-2 control-label">Personal Masterly and Ability to learn</label>
				<div class="col-sm-2" style="text-align: center;">
					<div>
						<b>{{user.assessor.per_mast}}</b>
					</div>
				</div>
				<div class="col-sm-8" style="margin-top: 7px;">
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="40" style="width:{{user.assessor.per_mast*33.3}}%" ng-class="(user.assessor.per_mast>=0 && user.assessor.per_mast<=1)?'progress-bar-danger':(user.assessor.per_mast<=2 ? 'progress-bar-warning':'progress-bar-success')">{{user.assessor.per_mast}} / 3.0
						</div>
					</div>
				</div>
				<div class="col-sm-offset-4 col-sm-8" style="margin-bottom: 20px; text-align: center;">
					<span ng-show="user.assessor.per_mast>=0 && user.assessor.per_mast<=1">
						<span>{{user.assessor.rubric[2][0]}}</span>
					</span>
					<span ng-show="user.assessor.per_mast>1 && user.assessor.per_mast<=2">
						<span>{{user.assessor.rubric[2][1]}}</span>
					</span>
					<span ng-show="user.assessor.per_mast>2">
						<span>{{user.assessor.rubric[2][2]}}</span>
					</span>
				</div>
			</div>
			<div class="col-md-12" style="margin-bottom: 20px; font-size: 16px; font-weight: bold;">
				<div class="col-md-2" style="text-align: right;">Total Scores: </div>
				<div class="col-md-2">
					{{user.assessor.slf_aware+user.assessor.openness+user.assessor.per_mast}} / 9.0
				</div>
				<div class="col-md-8" style="text-align: left;">{{user.assessor.per_mast_lvl}}</div>
			</div>
		</div>
		
		<hr>
		
		<!--	section 1	-->
		<div class="row" style="padding: 20px;">
			<div class="col-md-12" style="background: #eee; text-align: center; padding: 15px 0 0 0; margin-bottom: 15px;"><h4><b>Professional Values and Work Culture Preferences</b></h4><br></div>
			<div class="col-md-4" ng-repeat="keys in user.assessor.profile_content" ng-if="keys.keyword_id[5] == 1 && keys.assessor_key_rating != 0 && keys.assessor_checkbox" style="margin: 10px auto; padding: 10px; display: inline-block;">
										
				<div class="col-md-12 row" style="margin: 0 auto; border: 1px solid #ddd; border-radius: 25px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05); padding: 10px;">

					<div class="col-md-3" style="margin: auto 0;">
						<div class="c1002 small">
							<div class="c100 small" ng-class="(keys.assessor_key_rating >= 0 && keys.assessor_key_rating <= 0.5) ? 'p33 grey' : ((keys.assessor_key_rating > 0.5 && keys.assessor_key_rating <= 1) ? 'p66 orange' : 'p100 blue')">
								<div class="slice">
									<div class="bar"></div>
									<div class="fill"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-9" style="margin: auto 0;">
						<div class="col-md-12" style="font-size: 18px; font-weight: bold;">{{keys.keyword}}</div>
						<div class="col-md-12">{{keys.mini_descriptions[firstMD($index)].mini_description}}</div>
					</div>

				</div>

			</div>
		</div>
		
		<hr>
		
		<!--	section 2	-->
		<div class="row" style="padding: 20px;">
			<div class="col-md-12" style="background: #eee; text-align: center; padding: 15px 0 0 0; margin-bottom: 15px;"><h4><b>Professional Strengths</b></h4><br></div>
			<div class="col-md-4" ng-repeat="keys in user.assessor.profile_content" ng-if="keys.keyword_id[5] == 2 && keys.assessor_key_rating != 0 && keys.assessor_checkbox" style="margin: 10px auto; padding: 10px; display: inline-block;">
										
				<div class="col-md-12 row" style="margin: 0 auto; border: 1px solid #ddd; border-radius: 25px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05); padding: 10px;">
					
					<div class="col-md-3" style="margin: auto 0;">
						<div class="c1002 small">
							<div class="c100 small" ng-class="(keys.assessor_key_rating >= 0 && keys.assessor_key_rating <= 0.5) ? 'p33 grey' : ((keys.assessor_key_rating > 0.5 && keys.assessor_key_rating <= 1) ? 'p66 orange' : 'p100 blue')">
								<div class="slice">
									<div class="bar"></div>
									<div class="fill"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-9" style="margin: auto 0;">
						<div class="col-md-12" style="font-size: 18px; font-weight: bold;">{{keys.keyword}}</div>
						<div class="col-md-12">{{keys.mini_descriptions[firstMD($index)].mini_description}}</div>
					</div>

				</div>

			</div>
		</div>
		
		<hr>
		
		<!--	section 3	-->
		<div class="row" style="padding: 20px;">
			<div class="col-md-12" style="background: #eee; text-align: center; padding: 15px 0 0 0; margin-bottom: 15px;"><h4><b>Learning Needs</b></h4><br></div>
			
			<div class="col-md-4" ng-repeat="keys in user.assessor.profile_content" ng-if="keys.keyword_id[5] == 3 && keys.assessor_key_rating != 0 && keys.assessor_checkbox" style="margin: 10px auto; padding: 10px; display: inline-block;">
										
				<div class="col-md-12 row" style="margin: 0 auto; border: 1px solid #ddd; border-radius: 25px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05); padding: 10px;">

					<div class="col-md-3" style="margin: auto 0;">
						<div class="c1002 small">
							<div class="c100 small" ng-class="(keys.assessor_key_rating >= 0 && keys.assessor_key_rating <= 0.5) ? 'p33 grey' : ((keys.assessor_key_rating > 0.5 && keys.assessor_key_rating <= 1) ? 'p66 orange' : 'p100 blue')">
								<div class="slice">
									<div class="bar"></div>
									<div class="fill"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-9" style="margin: auto 0;">
						<div class="col-md-12" style="font-size: 18px; font-weight: bold;">{{keys.keyword}}</div>
						<div class="col-md-12">{{keys.mini_descriptions[firstMD($index)].mini_description}}</div>
					</div>

				</div>

			</div>
		</div>
		
		<hr>
		
		<div class="col-md-12">
			<div class="col-md-12" style="background: #eee; text-align: center; padding: 15px 0 0 0; margin-bottom: 15px;"><h4><b>Leadership Competencies</b></h4><br></div>
			
			<div class="col-md-12 row">
												<div class="col-md-offset-3 col-md-6" style="margin: 0 auto 30px auto; text-align: center;">
													<div class="col-md-1"></div>

													<div class="col-md-1" style="background: #a6e74f; padding: 10px;"></div>
													<div class="col-md-2">Responsive</div>
													<div class="col-md-1"></div>

													<div class="col-md-1" style="background: #fff33b; padding: 10px;"></div>
													<div class="col-md-2">Moderate</div>
													<div class="col-md-1"></div>

													<div class="col-md-1" style="background: #fec772; padding: 10px;"></div>
													<div class="col-md-2">Reactive</div>
												</div>
			</div>
			
			<div class="col-md-offset-4 col-md-4">
				<img src="./images/paei/q1s1l.png" class="img-responsive" style="position: absolute; left: 0px; filter: brightness(115%);" ng-show="(user.assessor.score_competencies[0][2]< -1) || (user.assessor.score_competencies[0][2]>= 0 && user.assessor.score_competencies[0][2]<= 0.5)">
				<img src="./images/paei/q1s1m.png" class="img-responsive" style="position: absolute; left: 0px; filter: brightness(115%);" ng-show="(user.assessor.score_competencies[0][2]>= -1 && user.assessor.score_competencies[0][2]< -0.5) || (user.assessor.score_competencies[0][2]> 0.5 && user.assessor.score_competencies[0][2]<= 1)">
				<img src="./images/paei/q1s1h.png" class="img-responsive" style="position: absolute; left: 0px; filter: brightness(115%);" ng-show="(user.assessor.score_competencies[0][2]>= -0.5 && user.assessor.score_competencies[0][2]< 0) || (user.assessor.score_competencies[0][2]> 1)">

												<img src="./images/paei/q1s2l.png" class="img-responsive" style="position: absolute; left: 0px; filter: brightness(115%);" ng-show="(user.assessor.score_competencies[1][2]< -1) || (user.assessor.score_competencies[1][2]>= 0 && user.assessor.score_competencies[1][2]<= 0.5)">
												<img src="./images/paei/q1s2m.png" class="img-responsive" style="position: absolute; left: 0px; filter: brightness(115%);" ng-show="(user.assessor.score_competencies[1][2]>= -1 && user.assessor.score_competencies[1][2]< -0.5) || (user.assessor.score_competencies[1][2]> 0.5 && user.assessor.score_competencies[1][2]<= 1)">
												<img src="./images/paei/q1s2h.png" class="img-responsive" style="position: absolute; left: 0px; filter: brightness(115%);" ng-show="(user.assessor.score_competencies[1][2]>= -0.5 && user.assessor.score_competencies[1][2]< 0) || (user.assessor.score_competencies[1][2]> 1)">

												<img src="./images/paei/q2s1l.png" class="img-responsive" style="position: absolute; left: 0px; filter: brightness(115%);" ng-show="(user.assessor.score_competencies[2][2]< -1) || (user.assessor.score_competencies[2][2]>= 0 && user.assessor.score_competencies[2][2]<= 0.5)">
												<img src="./images/paei/q2s1m.png" class="img-responsive" style="position: absolute; left: 0px; filter: brightness(115%);" ng-show="(user.assessor.score_competencies[2][2]>= -1 && user.assessor.score_competencies[2][2]< -0.5) || (user.assessor.score_competencies[2][2]> 0.5 && user.assessor.score_competencies[2][2]<= 1)">
												<img src="./images/paei/q2s1h.png" class="img-responsive" style="position: absolute; left: 0px; filter: brightness(115%);" ng-show="(user.assessor.score_competencies[2][2]>= -0.5 && user.assessor.score_competencies[2][2]< 0) || (user.assessor.score_competencies[2][2]> 1)">

												<img src="./images/paei/q2s2l.png" class="img-responsive" style="position: absolute; left: 0px; filter: brightness(115%);" ng-show="(user.assessor.score_competencies[3][2]< -1) || (user.assessor.score_competencies[3][2]>= 0 && user.assessor.score_competencies[3][2]<= 0.5)">
												<img src="./images/paei/q2s2m.png" class="img-responsive" style="position: absolute; left: 0px; filter: brightness(115%);" ng-show="(user.assessor.score_competencies[3][2]>= -1 && user.assessor.score_competencies[3][2]< -0.5) || (user.assessor.score_competencies[3][2]> 0.5 && user.assessor.score_competencies[3][2]<= 1)">
												<img src="./images/paei/q2s2h.png" class="img-responsive" style="position: absolute; left: 0px; filter: brightness(115%);" ng-show="(user.assessor.score_competencies[3][2]>= -0.5 && user.assessor.score_competencies[3][2]< 0) || (user.assessor.score_competencies[3][2]> 1)">

												<img src="./images/paei/q3s1l.png" class="img-responsive" style="position: absolute; left: 0px; filter: brightness(115%);" ng-show="(user.assessor.score_competencies[4][2]< -1) || (user.assessor.score_competencies[4][2]>= 0 && user.assessor.score_competencies[4][2]<= 0.5)">
												<img src="./images/paei/q3s1m.png" class="img-responsive" style="position: absolute; left: 0px; filter: brightness(115%);" ng-show="(user.assessor.score_competencies[4][2]>= -1 && user.assessor.score_competencies[4][2]< -0.5) || (user.assessor.score_competencies[4][2]> 0.5 && user.assessor.score_competencies[4][2]<= 1)">
												<img src="./images/paei/q3s1h.png" class="img-responsive" style="position: absolute; left: 0px; filter: brightness(115%);" ng-show="(user.assessor.score_competencies[4][2]>= -0.5 && user.assessor.score_competencies[4][2]< 0) || (user.assessor.score_competencies[4][2]> 1)">

												<img src="./images/paei/q3s2l.png" class="img-responsive" style="position: absolute; left: 0px; filter: brightness(115%);" ng-show="(user.assessor.score_competencies[5][2]< -1) || (user.assessor.score_competencies[5][2]>= 0 && user.assessor.score_competencies[5][2]<= 0.5)">
												<img src="./images/paei/q3s2m.png" class="img-responsive" style="position: absolute; left: 0px; filter: brightness(115%);" ng-show="(user.assessor.score_competencies[5][2]>= -1 && user.assessor.score_competencies[5][2]< -0.5) || (user.assessor.score_competencies[5][2]> 0.5 && user.assessor.score_competencies[5][2]<= 1)">
												<img src="./images/paei/q3s2h.png" class="img-responsive" style="position: absolute; left: 0px; filter: brightness(115%);" ng-show="(user.assessor.score_competencies[5][2]>= -0.5 && user.assessor.score_competencies[5][2]< 0) || (user.assessor.score_competencies[5][2]> 1)">

												<img src="./images/paei/q4s1l.png" class="img-responsive" style="position: absolute; left: 0px; filter: brightness(115%);" ng-show="(user.assessor.score_competencies[6][2]< -1) || (user.assessor.score_competencies[6][2]>= 0 && user.assessor.score_competencies[6][2]<= 0.5)">
												<img src="./images/paei/q4s1m.png" class="img-responsive" style="position: absolute; left: 0px; filter: brightness(115%);" ng-show="(user.assessor.score_competencies[6][2]>= -1 && user.assessor.score_competencies[6][2]< -0.5) || (user.assessor.score_competencies[6][2]> 0.5 && user.assessor.score_competencies[6][2]<= 1)">
												<img src="./images/paei/q4s1h.png" class="img-responsive" style="position: absolute; left: 0px; filter: brightness(115%);" ng-show="(user.assessor.score_competencies[6][2]>= -0.5 && user.assessor.score_competencies[6][2]< 0) || (user.assessor.score_competencies[6][2]> 1)">

												<img src="./images/paei/q4s2l.png" class="img-responsive" style="position: absolute; left: 0px; filter: brightness(115%);" ng-show="(user.assessor.score_competencies[7][2]< -1) || (user.assessor.score_competencies[7][2]>= 0 && user.assessor.score_competencies[7][2]<= 0.5)">
												<img src="./images/paei/q4s2m.png" class="img-responsive" style="position: absolute; left: 0px; filter: brightness(115%);" ng-show="(user.assessor.score_competencies[7][2]>= -1 && user.assessor.score_competencies[7][2]< -0.5) || (user.assessor.score_competencies[7][2]> 0.5 && user.assessor.score_competencies[7][2]<= 1)">
												<img src="./images/paei/q4s2h.png" class="img-responsive" style="position: absolute; left: 0px; filter: brightness(115%);" ng-show="(user.assessor.score_competencies[7][2]>= -0.5 && user.assessor.score_competencies[7][2]< 0) || (user.assessor.score_competencies[7][2]> 1)">

												<img src="./images/paei/circle.png" class="img-responsive" style="position: absolute; left: 0px;">
												<img src="./images/paei/circle.png" class="img-responsive" style="opacity: 0;">
			</div>
		</div>
		
		<hr ng-show="user.assessor.recommend.length > 0">
		
		<div class="row col-md-12" ng-repeat="r in user.assessor.recommend" style="padding: 10px;">
			<div class="col-md-12" style="background: #eee; text-align: center; padding: 15px 0 0 0; margin-bottom: 15px;"><h4><b>{{r.title}}</b></h4><br></div>
			<div class="col-md-12" style="margin-left: 20px; font-size: 15px;"><p ng-bind-html="r.desc | linebreaks"></p></div>
			
			<br>
		</div>
	</div>
</div>