<div class="row" ng-if="next == 0">
	<div class="container">
						
		<div id="page-title" style="margin-top: 13%;">
			<h2>Kindly provide the following information to proceed</h2>
		</div>
		<div class="col-md-offset-3 col-md-6">
			<div class="panel">
				<div class="panel-body">
					<div class="example-box-wrapper">
						
						<form class="form-horizontal" role="form" ng-submit="nextStep()">
							<div class="form-group">
								<label for="" class="col-sm-3 control-label">Email-ID</label>
								<div class="col-sm-9">
									<div class="input-prepend input-group">
										<input type="text" class="form-control" placeholder="Enter You Email-ID" ng-model="details.emailID" min="8" required>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="" class="col-sm-3 control-label">Full Name</label>
								<div class="col-sm-9">
									<div class="input-prepend input-group">
										<input type="text" class="form-control" placeholder="Enter You Full Name" ng-model="details.fullname" min="3" required>
									</div>
								</div>
							</div>
							<input type="submit" value="Start" class="btn btn-danger pull-right" ng-disabled="details.fullname.length<3 || details.emailID.length<8 || !details.fullname || !details.emailID">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<span ng-show="loading && (next!=0)">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>    
</span>

<div id="sb-site" ng-show="!loading && (next!=0)">

    <div id="page-wrapper">
        
        <div id="page-content-wrapper">
            <div>
				
				<div class="container" ng-show="next == 2" style="margin-top: 13%;">
					<div class="jumbotron">
						<h1>Thank-you!</h1>
						<p>For completing Questionnaire. Your submission values for us.</p>
					</div>
				</div>
				
				<div class="row col-sm-offset-1" ng-show="next == 1">
					<!--  <div class="col-sm-1"><h2><span class="label label-danger">Imp.</span></h2></div>  -->   
                    <div class="col-sm-10" style="border: 1px solid #efefef; border-radius: 5px; padding: 10px; color:black; font-size: 14px; margin-top: 30px;">
						<h3>Instructions for attempting below Questionnaire</h3>
                        <ol>
                            <li>All 36 questions are mandatory.</li>
                            <li>In each question, choose one option that best describes you.</li>
                            <li>If you relate (or do not relate) with both options, choose the one that has been true for most part of your life.</li>
                        </ol>
					</div>                  
                	       
				</div>
                <br><br>
                    <div class="container" ng-show="next == 1">

                        <div class="panel">
                            <div class="panel-body">
                                <h1 style="text-align:center; font-weight:bold;" class="title-hero">
                                   <b>Questionnaire</b>
                                </h1>
                                <div class="example-box-wrapper">
                                    <div id="form-wizard-3" class="form-wizard">
                                        
                                        <div class="tab-content">

                                                <div class="content-box" ng-repeat="q in questions">
                                                    <span style="padding: 7px; font-size: 14px; color: white; background: #42a5f5;">
														<b>{{q.num}}</b>
													</span>
													
													<div class="content-box-wrapper" style="font-size: 15px; margin: 0 5px;">
														<span ng-repeat="ch in q.keywords">
															<input type="radio" ng-model="answers[$parent.$index]" value="{{ch.from_profile}}"> {{ch.keyword}}<br>
														</span>
													</div>
                                                </div>
                                            
                                                <a class="btn btn-primary pull-right" ng-click="saveQues()" style="color: white;" ng-disabled="allDone()">Submit</a>

                                        </div>
										
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
    </div>

</div>