 <span ng-show="loading">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>    
</span>

<div id="sb-site" ng-show="!loading">
        
    <div id="page-wrapper">
        
        <div id="page-content-wrapper">
            <div id="page-content">
                
                    <div class="container">
                   
						<div id="page-title">
							<h2>Edit / Update Your Personal and Workplace Information</h2>
						</div>
						<style>
							.center-panel
							{width: 900px;
							   margin-left:auto;
						margin-right:auto;
							}
						</style>
						<div class="row">
							<div class="col-md-12">
								<div class="panel center-panel">
									<div class="panel-body">

										<div class="example-box-wrapper">

											<form class="form-horizontal" role="form">
												<div class="form-group">
													<label for="" class="col-sm-2 control-label">Username</label>
													<div class="col-sm-9">
														<div class="input-prepend input-group">
															<input class="form-control" ng-model="personalDetails.username" ng-disabled="true">
														</div>
													</div>
												</div>
												<!--<div class="form-group">
													<label for="" class="col-sm-2 control-label">Password</label>
													<div class="col-sm-9">
														<div class="input-prepend input-group">
															<input class="form-control" type="button" value="Request Password Change">
														</div>
													</div>
												</div>-->
												<div class="form-group">
													<label for="" class="col-sm-2 control-label">Firstname</label>
													<div class="col-sm-9">
														<div class="input-prepend input-group">
															<input type="text" class="form-control" placeholder="First Name" ng-model="personalDetails.firstname">
														</div>
													</div>
												</div>
												<div class="form-group">
													<label for="" class="col-sm-2 control-label">Lastname</label>
													<div class="col-sm-9">
														<div class="input-prepend input-group">
															<input type="text" class="form-control" placeholder="Last Name" ng-model="personalDetails.lastname">
														</div>
													</div>
												</div>
												<div class="form-group">
													<label for="" class="col-sm-2 control-label">Gender</label>
													<div class="col-sm-9">
														<select class="form-control" ng-model="personalDetails.sex">
															<option value="Gender" default disabled>Gender</option>
															<option value="Male">Male</option>
															<option value="Female">Female</option>
														</select>
													</div>
												</div>
												<div class="form-group">
													<label for="" class="col-sm-2 control-label">Age</label>
													<div class="col-sm-9">
														<div class="input-prepend input-group">
															<input type="number" class="form-control" placeholder="Age" ng-model="personalDetails.age">
														</div>
													</div>
												</div>
											</form>
											<form class="form-horizontal bordered-row" role="form">
												<div class="form-group">
													<label for="" class="col-sm-2 control-label">iDiscover Facilitator</label>
													<div class="col-sm-9">
														<div class="input-prepend input-group">
															<input type="text" class="form-control" placeholder="Enter Facilitator Name" ng-model="personalDetails.facilitator_name" ng-disabled="true">
														</div>
													</div>
												</div>
											</form>
											<form class="form-horizontal" role="form">
												<div class="form-group">
													<label for="" class="col-sm-2 control-label">Work Experience</label>
													<div class="col-sm-9">
														<div class="input-prepend input-group">
														   <select class="form-control" required ng-model="personalDetails.work_details.experience">
																<option value="Work Experience">Work Experience</option>
																<option value="Less than 2 years">Less than 2 years</option>
																<option value="2 years - 5 years">2 years - 5 years</option>
																<option value="6 years - 10 years">6 years - 10 years</option>
																<option value="11 years - 15 years">11 years - 15 years</option>
																<option value="More than 16 years">More than 16 years</option>
														   </select>
														</div>
													</div>
												</div>
												<div class="form-group">
													<label for="" class="col-sm-2 control-label">Company Name</label>
													<div class="col-sm-9">
														<div class="input-prepend input-group">
															<input type="text" class="form-control" placeholder="Enter Company Name" ng-model="personalDetails.work_details.current_company">
														</div>
													</div>
												</div>
												<div class="form-group">
													<label for="" class="col-sm-2 control-label">Department</label>
													<div class="col-sm-9">
														<div class="input-prepend input-group">
															<input type="text" class="form-control" placeholder="Enter Department Name" ng-model="personalDetails.work_details.department">
														</div>
													</div>
												</div>
											</form>
											<form class="form-horizontal bordered-row" role="form">
												<div class="form-group">
													<label for="" class="col-sm-2 control-label">Roles & Responsibilities</label>
													<div class="col-sm-9">
														<div class="input-prepend input-group">
															<textarea class="form-control" placeholder="" ng-model="personalDetails.work_details.role_responsibility"></textarea>
														</div>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
							<span style="margin: 0 auto;">
								<button class="btn btn-primary" ng-click="proceed()">Done</button>{{message.message}}
							</span>
						</div>
                    </div>

                

            </div>
        </div>
   
        </div>
</div>