    <style>
    
        .left_border_str{
            border: 5px solid #00b0ff;
            border-radius: 15px;
            padding: 15px 20px;
			font-size: 16px;
			font-weight: bold;
        }
        .left_border_prt{
           border: 5px solid #BBDEFB;
            border-radius: 15px;
            padding: 15px 20px;
			font-size: 16px;
			font-weight: bold;
        }
        .left_border_dnt{
            border: 5px solid #efebe9;
            border-radius: 15px;
            padding: 15px 20px;
			font-size: 16px;
			font-weight: bold;
        }

    </style>

<span ng-show="loading">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>    
</span>

<div id="sb-site" ng-show="!loading">
    <div id="page-wrapper">
        
        
        <div id="page-content-wrapper">
            <div id="page-content">                
                    <div class="container">                    

                        <div id="page-title">
                            <h2>Precise View</h2>
                        </div>

                        <div class="row" style="text-align: center;">
                            <div class="col-md-offset-2 col-sm-2">

                                <div class="panel" ng-class="'left_border_str'">
									Relate Fully
                                </div>

                            </div>
                            
                            <div class="col-md-offset-1 col-sm-2">

                                <div class="panel" ng-class="'left_border_prt'">
									Relate Partially
                                </div>

                            </div>
                            
                            <div class="col-md-offset-1 col-sm-2">

                                <div class="panel" ng-class="'left_border_dnt'">
									Do not Relate at all
                                </div>

                            </div>
                            
                        </div>
<!--                                                    SECTION 1                                                          -->
                        <div class="panel">
                            <div class="panel-body" style="text-align:center">
                                <h2 id="page-title">
                                    <b>Professional Values and Work<br>Culture Preference</b>
                                </h2>
                                <div ng-repeat="keys in profile_content.profile.profile_content" ng-if="keys.keyword_id[5] == 1" style="margin: 25px auto; display: inline-block;">
									<span style="margin: 5px 5px;" ng-class="keys.key_rating == 0 ? 'left_border_dnt' : ((keys.key_rating > 0 && keys.key_rating < 1) ? 'left_border_prt' : 'left_border_str')">{{keys.keyword}}</span>
                                </div>
                            </div>
                        </div>
<!--                                                    SECTION 2                                                          -->
                        <div class="panel">
                            <div class="panel-body" style="text-align:center">
                                <h2 id="page-title">
                                    <b>Professional Strengths</b>
                                </h2>
                                <div ng-repeat="keys in profile_content.profile.profile_content" ng-if="keys.keyword_id[5] == 2" style="display: inline-block; margin: 25px auto;">
									<span style="margin: 5px 5px;" ng-class="keys.key_rating == 0 ? 'left_border_dnt' : ((keys.key_rating > 0 && keys.key_rating < 1) ? 'left_border_prt' : 'left_border_str')">{{keys.keyword}}</span>
                                </div>
                            </div>
                        </div>
<!--                                                    SECTION 3                                                          -->
                        <div class="panel">
                            <div class="panel-body" style="text-align:center">
                                <h2 id="page-title">
                                    <b>Learning Needs</b>
                                </h2>
                                <div ng-repeat="keys in profile_content.profile.profile_content" ng-if="keys.keyword_id[5] == 3" style="display: inline-block; margin: 25px auto;">
									<span style="margin: 5px 5px;" ng-class="keys.key_rating == 0 ? 'left_border_dnt' : ((keys.key_rating > 0 && keys.key_rating < 1) ? 'left_border_prt' : 'left_border_str')">{{keys.keyword}}</span>
                                </div>
                            </div>
                        </div>
<!--                                                    SECTION 4                                                          -->
                        <div class="panel">
                            <div class="panel-body" style="text-align:center">
                                <h2 id="page-title">
                                    <b>Communication Style</b>
                                </h2>
                                <div ng-repeat="keys in profile_content.profile.profile_content" ng-if="keys.keyword_id[5] == 4" style="display: inline-block; margin: 25px auto;">
									<span style="margin: 5px 5px;" ng-class="keys.key_rating == 0 ? 'left_border_dnt' : ((keys.key_rating > 0 && keys.key_rating < 1) ? 'left_border_prt' : 'left_border_str')">{{keys.keyword}}</span>
                                </div>
                            </div>
                        </div>
						
						<button class="btn btn-success" ui-sref="dashboard" style="float:right;">Back to Dashboard</button>
                    </div>
            </div>
        </div>
    </div>
</div>