<div id="sb-site">
   
    <div id="page-wrapper">
        <div id="page-content-wrapper">
            <div id="page-content-margin">
                
                <div class="container">


                    <div class="row">

                        <div class="col-sm-">
                            <div class="panel">
                                <div class="panel-body">
                                    <div class="panel-heading" style="text-align:center;"><h2>Instructions</h2></div>
                                </div>
                            <div class="panel-content">
                                <ol>
                                    <li>lorem ispum lorem ispum lorem ispumlorem ispum lorem ispum lorem ispum lorem ispum vlorem ispumlorem ispum lorem ispum lorem ispum lorem ispum lorem ispum lorem ispum lorem ispum lorem ispum</li><br>
                                    <li>lorem ispum</li><br>
                                    <li>lorem ispum</li><br>
                                    <li>lorem ispum</li><br>
                                    <li>lorem ispum</li><br>
                                    <li>lorem ispum</li><br>
                                    <li>lorem ispum</li>
                                </ol>    
                            </div>

                            </div>

                        </div>    
                    </div>
                    
                    <button class="btn btn-primary" ui-sref="reflective-questions">Continue</button>
                </div>

            </div>
        </div>
    </div>
</div>