<div id="sb-site">
   
    <div id="page-wrapper">
        <div id="page-content-wrapper">
            <div id="page-content-margin">
                
                <div class="container">


                    <div class="row">

                        <div class="col-sm-12">
                            <div class="panel">
                                <div class="panel-body">
                                    <div class="panel-heading" style="text-align:center;"><h2>Instructions</h2></div>
                                </div>
                            <div class="">
                                <ol>
                                    
                                    <h3 style="text-align:center;"> <b>Please follow the following process steps for building your TrueSelf Leadership Profile:</b></h3><br/><br/>
                  
                
              <h4>
                                    <li><b>Step 1: Reflective Questions (30 min)</b><br/>
               Authentically fill 3 reflective questions and an online questionnaire.<br/><br/></li><br>
                                    <li><b>Step 2: Assigning TrueSelf Leadership Template (1 hour)</b><br/>
                Facilitator interacts with you to assign your unique Leadership Profile Template.<br/><br/></li><br>
                                    <li>  <b>Step 3: Building TrueSelf Leadership Profile (1.5 hours)</b><br/>
                Build your online Leadership Profile using your Leadership profile template assigned.<br/><br/></li><br>
                                    </h4>
                                </ol>    
                            </div>

                            </div>

                        </div>    
                    </div>
                    
                    <button class="btn btn-primary pull-right" ui-sref="reflective-questions">Let's Start</button>
                </div>

            </div>
        </div>
    </div>
</div>