<div id="sb-site">
   
    <div id="page-wrapper">
        <div id="page-content-wrapper">
            <div id="page-content-margin">
                
                <div class="container">
					
                    <div class="row">

                        <div class="col-sm-12">
                            <div class="panel">
								<div class="panel-body">
									
									<h3 style="text-align:center;"> <b>Process steps for building your TrueSelf Leadership profile:</b></h3><br/><br/>
									
									<ol>
										<h4>
											<b>Step 1: Reflective Questions <span style="float: right; padding-right: 70px;">30 min</span></b><br/>
											Authentically fill 3 reflective questions and an online questionnaire.<br/><br/>
											<br>
											<b>Step 2: Assigning TrueSelf Leadership Template <span style="float: right; padding-right: 70px;">1 hour</span></b><br/>
											Facilitator interacts with you to assign your unique Leadership profile template.<br/><br/>
											<br>
											<b>Step 3: Building TrueSelf Leadership Profile <span style="float: right; padding-right: 70px;">1.5 hours</span></b><br/>
											Build your online Leadership Profile using the assigned template.<br/><br/>
											<br>
										</h4>
									</ol>    
								</div>

                            </div>

                        </div>    
                    </div>
                    <button class="btn btn-primary pull-right btn-lg" ui-sref="reflective-questions">Let's Start</button>
                </div>

            </div>
        </div>
    </div>
</div>