<span ng-show="loading">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>    
</span>

<div id="sb-site" ng-show="!loading">

    <div id="page-wrapper">
        
        <div id="page-content-wrapper">
            <div id="page-content-margin">
                
                    <div class="container">

                        <div class="panel">
                            <div class="panel-body">
                                <h1 style="text-align:center; font-weight:bold;" class="title-hero">
                                   Questionnaire
                                </h1>
                                <div class="example-box-wrapper">
                                    <div id="form-wizard-3" class="form-wizard">
                                        
                                        <div class="tab-content">
{{quesDetails.question.questionnaire}}{{answers}}
                                                <div class="content-box" ng-repeat="q in questions">
                                                    <h4 class="content-box-header bg-blue">
                                                       {{q.num + '. ' + q.desc}}
                                                    </h4>
													<div class="content-box-wrapper" style="font-size: 15px; margin: 0 5px;">
                                                    <input type="radio" ng-model="answers[$index]" value="1"> {{q.keywords[0].keyword}}<br>
													<input type="radio" ng-model="answers[$index]" value="2"> {{q.keywords[1].keyword}}
													</div>
                                                </div>
                                            
                                                <a class="btn btn-primary pull-right" ng-click="saveQues()" style="color: white;">Submit</a>

                                        </div>
										
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
    </div>

</div>