<span ng-show="loading">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>    
</span>

<div id="sb-site" ng-show="!loading">
   

    <div id="page-wrapper">
        
        <div id="page-content-wrapper">
            <div id="page-content-margin">
                
                    <div class="container">

                        <div class="panel">
                            <div class="panel-body">
                                <h1 style="text-align:center; font-weight:bold;" class="title-hero">
                                   Reflective Questions
                                </h1>
                                <div class="example-box-wrapper">
                                    <div id="form-wizard-3" class="form-wizard">
                                        
                                        <div class="tab-content">

                                                <div class="content-box">
                                                    <h4 class="content-box-header bg-red">
                                                       1. What kind of people you like? What qualities you like in them?
                                                    </h4>
                                                    <div class="content-box-wrapper">
                                                        o yob 9 8ny hnb 7n8 y9mh n8yng9hmj ni mj
                                                    </div>
                                                    <div class="content-box-wrapper">
                                                        o yo2bvhhu gy n h g0b9y h8j 0  ohu98h uboh 0n
                                                    </div>
                                                </div>
                                                <div class="content-box">
                                                    <h4 class="content-box-header bg-blue">
                                                       1. What kind of people you like? What qualities you like in them?
                                                    </h4>
                                                    <div class="content-box-wrapper">
                                                        o yob 9 8ny hnb 7n8 y9mh n8yng9hmj ni mj
                                                    </div>
                                                    <div class="content-box-wrapper">
                                                        o yo2bvhhu gy n h g0b9y h8j 0  ohu98h uboh 0n
                                                    </div>
                                                </div>
                                            
                                                <a class="btn btn-primary pull-right" ng-click="" style="color: white;">Submit</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
    </div>

</div>