<span ng-show="loading">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>    
</span>

<div id="sb-site" ng-show="!loading" ng-init="load_questions()">
    <div id="page-wrapper">
        
        <div id="page-content-wrapper">
            <div id="page-content-margin">
                
                    <div class="container">
						<div class="panel">
							<div class="panel-body">
								<h1 style="text-align:center; font-weight:bold;" class="title-hero">
								   Reflective Questions
								</h1>
								<div class="example-box-wrapper">
									<div id="form-wizard-3" class="form-wizard">
										<ul>
											<li ng-click="RQ_num = 1;" ng-class="RQ_num == 1 ? 'active':''">
												<a data-toggle="tab">
													<label class="wizard-step">1</label>
											  <span class="wizard-description">
												 Question 1
												 <small>Likes and Dislikes</small>
											  </span>
												</a>
											</li>
											<li ng-click="RQ_num = 2;" ng-class="RQ_num == 2 ? 'active':''">
												<a data-toggle="tab">
													<label class="wizard-step">2</label>
											  <span class="wizard-description">
												 Question 2
												 <small>Described by your closed friends</small>
											  </span>
												</a>
											</li>
											<li ng-click="RQ_num = 3;" ng-class="RQ_num == 3 ? 'active':''">
												<a data-toggle="tab">
													<label class="wizard-step">3</label>
											  <span class="wizard-description">
												 Question 3
												 <small>Inner Insights</small>
											  </span>
												</a>
											</li>
										</ul>
										<div class="tab-content">

												<div class="content-box" ng-show="RQ_num == 1">
													<h4 class="content-box-header bg-blue">
													   What kind of people you like? What qualities you like in them?
													</h4>
													<div class="content-box-wrapper">
														<textarea rows="2" required class="form-control" ng-model="quesDetails.question.RQ1"></textarea>
													</div>
												</div>

												<div class="content-box" ng-show="RQ_num == 2">
													<h4 class="content-box-header bg-blue">
														How would a close friend of yours describe you? Please mention both positive and negative qualities.
													</h4>
													<div class="content-box-wrapper">
													   <textarea rows="2" required class="form-control" ng-model="quesDetails.question.RQ2"></textarea>
													</div>
												</div>

												<div class="content-box" ng-show="RQ_num == 3">
													<h4 class="content-box-header bg-blue">
														Please mention both positive and negative qualities not covered in question 2 above which you are aware of about yourself.
													</h4>
													<div class="content-box-wrapper">
														<textarea rows="2" required class="form-control" ng-model="quesDetails.question.RQ3"></textarea>
													</div>
												</div>

												<a class="btn btn-primary" ng-click="prev_RQ()" ng-show="RQ_num != 1" style="color: white;">Prev</a>
												<a class="btn btn-primary" ng-click="next_RQ()" ng-show="RQ_num != 3" style="color: white;">Next</a>
												<a class="btn btn-primary pull-right" ng-click="save_ques(1)" ng-show="RQ_num != 3" style="color: white;">Save</a>
												<a class="btn btn-primary pull-right" ng-click="save_ques(2)" ng-show="RQ_num == 3" style="color: white;">Submit</a>

										</div>
									</div>
								</div>
							</div>
						</div>
                    </div>

                

            </div>
        </div>
    </div>
</div>