<style>
	
	.LHS_tab{
		text-align: center; margin-top:auto; margin-bottom:auto; top: -15px;
	}
</style>

<span ng-show="loading">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>    
</span>

<div id="sb-site" ng-show="!loading">
        <div id="page-wrapper">
            
            <div id="page-content-wrapper">
                <div id="page-content" style="margin-bottom: 30px;">
                
                        <div id="page-title">
                            <h2><b>Reactive-Responsive Levels</b></h2>
                        </div>
                    <div class="container" style="width:80%; margin-right:auto; margin-left:auto;" >
						<div class="row">
						<div class="col-md-2 LHS_tab"><h3><b>Responsive</b></h3></div>
                        <div class="col-sm-10 panel" style="background: #ffe590;">
                            <div class="panel-body">
								<div style="text-align: center;">
									<div ng-repeat="keys in profile_content.profile.profile_content" style="display: inline-block;">
										<span style="margin: 5px 5px;" ng-repeat="mini in keys.mini_descriptions" ng-if="mini.relate == 'donotexhibitanymore'">{{mini.mini_description}}</span>
									</div>
								</div>
							</div>
                            </div>
                        </div>
						<div class="row">
						<div class="col-md-2 LHS_tab"><h3><b>Moderate</b></h3></div>
                        <div class="col-sm-10 panel" style="background: #f9ffaf;">
                            <div class="panel-body">
								<div style="text-align: center;">
									<div ng-repeat="keys in profile_content.profile.profile_content" style="display: inline-block;">
										<span style="margin: 5px 5px;" ng-repeat="mini in keys.mini_descriptions" ng-if="mini.relate == 'relatepartially'">{{mini.mini_description}}</span>
									</div>
								</div>
							</div>	
                            </div>
						
                        </div>
						<div class="row">
						<div class="col-md-2 LHS_tab"><h3><b>Reactive</b></h3></div>
                        <div class="col-sm-10 panel" style="background: #ddffa5;">
                            <div class="panel-body">
								<div  style="text-align: center;">
									<div ng-repeat="keys in profile_content.profile.profile_content" style="display: inline-block;">
										<span style="margin: 5px 5px;" ng-repeat="mini in keys.mini_descriptions" ng-if="mini.relate == 'relatestrongly'">{{mini.mini_description}}</span>
									</div>
								</div>
								
                            </div>
							
                        </div>
                        </div>
                    </div>
					
					<button class="btn btn-success pull-right" ui-sref="dashboard">Back to Dashboard</button>
					
                </div>
            </div>
        </div>
</div>