<style>
	.left_border_str{
		border-left:10px solid #FF8800;
	}
	.left_border_prt{
		border-left:10px solid #00b0ff;
	}
	.left_border_dnt{
		border-left:10px solid #efebe9;
	}
</style>

<span ng-show="loading">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>    
</span>

<div id="sb-site" ng-show="!loading">
        <div id="page-wrapper">
            
            <div id="page-content-wrapper">
                <div id="page-content" style="margin-bottom: 30px;">
                
                        <div id="page-title">
                            <h2><b>Reactive-Responsive Levels</b></h2>
                        </div>
                    <div class="container">

                        <div class="panel" style="background: #ffe590;">
                            <div class="panel-body row">
								<div class="col-md-10" style="text-align: center;">
									<div ng-repeat="keys in profile_content.profile.profile_content" style="display: inline-block;">
										<span style="margin: 5px 5px;" ng-repeat="mini in keys.mini_descriptions" ng-if="mini.relate == 'donotexhibitanymore'">{{mini.mini_description}}</span>
									</div>
								</div>
								<div class="col-md-2" style="display: inline-block; text-align: center;">Responsive</div>
                            </div>
                        </div>

                        <div class="panel" style="background: #f9ffaf;">
                            <div class="panel-body row">
								<div class="col-md-10" style="text-align: center;">
									<div ng-repeat="keys in profile_content.profile.profile_content" style="display: inline-block;">
										<span style="margin: 5px 5px;" ng-repeat="mini in keys.mini_descriptions" ng-if="mini.relate == 'relatepartially'">{{mini.mini_description}}</span>
									</div>
								</div>
								<div class="col-md-2" style="display: inline-block; text-align: center;">Moderate</div>
                            </div>
                        </div>

                        <div class="panel" style="background: #ddffa5;">
                            <div class="panel-body row">
								<div class="col-md-10" style="text-align: center;">
									<div ng-repeat="keys in profile_content.profile.profile_content" style="display: inline-block;">
										<span style="margin: 5px 5px;" ng-repeat="mini in keys.mini_descriptions" ng-if="mini.relate == 'relatestrongly'">{{mini.mini_description}}</span>
									</div>
								</div>
								<div class="col-md-2" style="display: inline-block; text-align: center;">Reactive</div>
                            </div>
                        </div>
                        
                    </div>
					
					<button class="btn btn-success pull-right" ui-sref="dashboard">Back to Dashboard</button>
					
                </div>
            </div>
        </div>
</div>