<div>    
    <input type="radio" ng-model="type_number" id="t" value="1">1
    <input type="radio" ng-model="type_number" id="t" value="2">2
    <input type="radio" ng-model="type_number" id="t" value="3">3
    <input type="radio" ng-model="type_number" id="t" value="4">4
    <input type="radio" ng-model="type_number" id="t" value="5">5
    <input type="radio" ng-model="type_number" id="t" value="6">6
    <input type="radio" ng-model="type_number" id="t" value="7">7
    <input type="radio" ng-model="type_number" id="t" value="8">8
    <input type="radio" ng-model="type_number" id="t" value="9">9
    <br><button type="button" class="btn btn-warning" ng-click="submitType()">Submit</button>
    {{type_number}}<br>
    {{profile_content}}<br>
    {{success.success}}<br>
</div>