<style>
	.left_border_str {
		border-left: 10px solid #00b0ff;
	}

	.left_border_prt {
		border-left: 10px solid #ffb74d;
	}

	.left_border_dnt {
		border-left: 10px solid #efebe9;
	}

	.left_border_weak {
		border-left: 10px solid #999;
	}

	.left_border_str2 {
		border: 3px solid #00b0ff;
		border-radius: 15px;
		padding: 7px 20px;
		font-size: 15px;
	}

	.left_border_prt2 {
		border: 3px solid #ffb74d;
		border-radius: 15px;
		padding: 7px 20px;
		font-size: 15px;
	}

	.left_border_dnt2 {
		border: 3px solid #efebe9;
		border-radius: 15px;
		padding: 7px 20px;
		font-size: 15px;
	}

	.mini_style {
		border: 1px solid #dedede;
		border-radius: 25px;
		margin: 5px;
		padding: 10px;
		font-size: 14px;
	}

	.mini_style:hover {
		border-color: #ccc;
		background: #efefef;
	}

	.active_tab {
		border-bottom: 5px solid #00b0ff;
		background: #f6f6f6;
	}

	.range {
		-webkit-appearance: none;
		-moz-appearance: none;
		width: 100%
	}

	input[disabled] {
		opacity: 1
	}

	input[type=range]::-webkit-slider-runnable-track {
		background: -repeating-linear-gradient(0deg, rgba(139, 195, 74, 1) 0%, rgba(139, 191, 78, 0.91) 20%, rgba(255, 238, 88, 0.8) 40%, rgba(255, 238, 88, 1) 60%, rgba(244, 67, 54, 0.74) 80%, rgba(244, 67, 54, 1) 100%);

		background: -webkit-repeating-linear-gradient(0deg, rgba(139, 195, 74, 1) 0%, rgba(139, 191, 78, 0.91) 20%, rgba(255, 238, 88, 0.8) 40%, rgba(255, 238, 88, 1) 60%, rgba(244, 67, 54, 0.74) 80%, rgba(244, 67, 54, 1) 100%);

		background: -o-repeating-linear-gradient(0deg, rgba(139, 195, 74, 1) 0%, rgba(139, 191, 78, 0.91) 20%, rgba(255, 238, 88, 0.8) 40%, rgba(255, 238, 88, 1) 60%, rgba(244, 67, 54, 0.74) 80%, rgba(244, 67, 54, 1) 100%);

		background: -ms-repeating-linear-gradient(0deg, rgba(139, 195, 74, 1) 0%, rgba(139, 191, 78, 0.91) 20%, rgba(255, 238, 88, 0.8) 40%, rgba(255, 238, 88, 1) 60%, rgba(244, 67, 54, 0.74) 80%, rgba(244, 67, 54, 1) 100%);

		background: -moz-repeating-linear-gradient(0deg, rgba(139, 195, 74, 1) 0%, rgba(139, 191, 78, 0.91) 20%, rgba(255, 238, 88, 0.8) 40%, rgba(255, 238, 88, 1) 60%, rgba(244, 67, 54, 0.74) 80%, rgba(244, 67, 54, 1) 100%);

		height: 10px;
	}

	input[type=range]::-webkit-slider-thumb {
		-webkit-appearance: none;
		-moz-appearance: none;
		width: 0;
		height: 0;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 15px solid #1E88E5;
		margin-top: 10px;
		-webkit-transition: border 1000ms ease;
		transition: border 1000ms ease;
	}

	.LHS_tab {
		text-align: center;
		margin-top: auto;
		margin-bottom: auto;
		top: -15px;
	}

	.mini_color_donotrelate {
		color: rgb(66, 133, 244);
	}

	.mini_color_donotexhibitanymore {
		color: rgb(0, 200, 81);
	}
</style>

<span ng-show="loading">
	<div class="spinner">
		<div class="bounce1"></div>
		<div class="bounce2"></div>
		<div class="bounce3"></div>
	</div>
</span>

<div id="sb-site" ng-show="!loading">

	<div id="page-wrapper">

		<div id="page-content-wrapper">
			<div id="page-content" style="margin-bottom: 30px;">

				<!--<button class="btn btn-success" ng-click="printPDF()">Download PDF</button>-->
				<!-- <button class="btn btn-info" ng-click="printSD()">Download Leadership Profile</button> -->

				<div id="page-title">
					<h2>
						<b>{{profile_content.firstname}}'s Leadership Profile</b>
					</h2>
				</div>

				<!-- <div class="row">
					<div id="page-title" style="margin: 0px auto;">
						<ul class="tab-slider--tabs">
							<li class="tab-slider--trigger" ng-class="profile_selected == -1 ? 'active-profile' : ''" ng-click="profile_selected = -1">Profile
								{{profile_content.profile.profile_number}}</li>
							<li ng-repeat="op in profile_content.profile.old" class="tab-slider--trigger" ng-class="profile_selected == chosenProfile($index) ? 'active-profile' : ''"
							 ng-click="chooseProfile($index)">Profile {{op.pro_num}}</li>
						</ul>
					</div>
				</div> -->

				<div class="panel panel-body" style="margin: 0 65px 20px 65px; font-size: 15px;">
					<div class="row container">
						<div class="col-md-12">
							<h4 style="font-weight: bold;">{{sub_heading[profile_content.profile.profile_number-1]}}
							</h4>
						</div>
						<div class="col-md-12" style="margin-top: 15px;">
							<h4 style="font-weight: bold;">Basic Fear:</h4>
							{{basic_fear[profile_content.profile.profile_number-1]}}
						</div>
						<div class="col-md-12" style="margin-top: 15px;">
							<h4 style="font-weight: bold;">Basic Desire & Key Motivation: </h4>
							{{key_motivation[profile_content.profile.profile_number-1]}}
						</div>
					</div>
				</div>

				<div class="panel panel-body" style="margin: 0 65px 20px 65px;">
					<div class="row">
						<div class="col-md-12">
							<h2 style="text-align:center" id="page-title">
								<b>Growth Recommendations</b>
							</h2>
						</div>
						<div class="col-md-12" style="padding: 0px 50px;">
							<h5 style="text-align:center" id="page-title">
								<b>The following growth tips are selected keeping in mind your identified learning
									needs, to assist you in
									managing
									yourself, working with others more effectively. We recommend to adopt a couple of
									them as a daily practice.</b>
							</h5>
						</div>
						<div class="col-md-12" style="padding: 0 50px;">
							<ul class="row" style="font-size: 16px;">
								<li class="col-md-12"
									ng-repeat="rc in profile_content.profile.growth_recommendations_assessor"
									ng-if="checkToShow(rc.linked_keywords)" style="padding: 10px 30px;">
									<div style="font-weight: bold;">{{rc.brief}}</div>
									<div ng-if="rc.statement && rc.statement!='-'">{{rc.statement}}</div>
								</li>
							</ul>
						</div>

					</div>
				</div>

				<div class="panel panel-body" style="margin: 0 65px 20px 65px; font-size: 15px;">
					<div class="row container">
						<div class="col-md-12">
							<h2 style="text-align:center" id="page-title">
								<b>Core Values & Work Culture Preferences</b>
							</h2>
						</div>
						<div class="panel panel-body col-md-12" style="text-align: center; padding-bottom: 30px;">
							<div class="col-md-4">
								<i class="material-icons" style="font-size: 11px;">fiber_manual_record</i>
								Relate Strongly/Partially
							</div>
							<div class="col-md-4 mini_color_donotexhibitanymore">
								<i class="material-icons" style="font-size: 11px;">fiber_manual_record</i>
								Improved Over Time
							</div>
							<div class="col-md-4 mini_color_donotrelate">
								<i class="material-icons" style="font-size: 11px;">fiber_manual_record</i>
								Never Exhibited
							</div>
						</div>
						<div class="col-md-12" ng-repeat="keys in profile_content.profile.profile_content"
							ng-if="keys.keyword_id[5] == 1" style="padding: 20px 0;">
							<div class="col-md-3">
								<h4 style="font-weight: bold;">{{keys.keyword}}</h4>
							</div>
							<div class="col-md-9">
								<span ng-repeat="mini in keys.mini_descriptions"
									ng-class="mini.relate=='donotexhibitanymore' ? 'mini_color_donotexhibitanymore':(mini.relate=='donotrelate'?'mini_color_donotrelate':'')">
									<i class="material-icons" style="font-size: 11px;">fiber_manual_record</i>
									{{mini.mini_description}}&nbsp;&nbsp;&nbsp;&nbsp;
								</span>
							</div>
						</div>
					</div>
				</div>

				<div class="panel panel-body" style="margin: 0 65px 20px 65px; font-size: 15px;">
					<div class="row container">
						<div class="col-md-12">
							<h2 style="text-align:center" id="page-title">
								<b>Strengths</b>
							</h2>
						</div>
						<div class="panel panel-body col-md-12" style="text-align: center; padding-bottom: 30px;">
							<div class="col-md-4">
								<i class="material-icons" style="font-size: 11px;">fiber_manual_record</i>
								Relate Strongly/Partially
							</div>
							<div class="col-md-4 mini_color_donotexhibitanymore">
								<i class="material-icons" style="font-size: 11px;">fiber_manual_record</i>
								Improved Over Time
							</div>
							<div class="col-md-4 mini_color_donotrelate">
								<i class="material-icons" style="font-size: 11px;">fiber_manual_record</i>
								Never Exhibited
							</div>
						</div>
						<div class="col-md-12" ng-repeat="keys in profile_content.profile.profile_content"
							ng-if="keys.keyword_id[5] == 2" style="padding: 20px 0;">
							<div class="col-md-3">
								<h4 style="font-weight: bold;">{{keys.keyword}}</h4>
							</div>
							<div class="col-md-9">
								<span ng-repeat="mini in keys.mini_descriptions"
									ng-class="mini.relate=='donotexhibitanymore' ? 'mini_color_donotexhibitanymore':(mini.relate=='donotrelate'?'mini_color_donotrelate':'')">
									<i class="material-icons" style="font-size: 11px;">fiber_manual_record</i>
									{{mini.mini_description}}&nbsp;&nbsp;&nbsp;&nbsp;
								</span>
							</div>
						</div>
					</div>
				</div>

				<div class="panel panel-body" style="margin: 0 65px 20px 65px; font-size: 15px;">
					<div class="row container">
						<div class="col-md-12">
							<h2 style="text-align:center" id="page-title">
								<b>Core Beliefs</b>
							</h2>
						</div>
						<div class="col-md-6" ng-repeat="stat in profile_content.profile.beliefs"
							style="padding: 5px 0;">
							<i class="material-icons" style="font-size: 11px;">fiber_manual_record</i>
							{{stat.statement}}
						</div>
					</div>
				</div>

				<div class="panel panel-body" style="margin: 0 65px 20px 65px; font-size: 15px;">
					<div class="row container">
						<div class="col-md-12">
							<h2 style="text-align:center" id="page-title">
								<b>Learning Needs</b>
							</h2>
						</div>
						<div class="panel panel-body col-md-12" style="text-align: center; padding-bottom: 30px;">
							<div class="col-md-4">
								<i class="material-icons" style="font-size: 11px;">fiber_manual_record</i>
								Relate Strongly/Partially
							</div>
							<div class="col-md-4 mini_color_donotexhibitanymore">
								<i class="material-icons" style="font-size: 11px;">fiber_manual_record</i>
								Improved Over Time
							</div>
							<div class="col-md-4 mini_color_donotrelate">
								<i class="material-icons" style="font-size: 11px;">fiber_manual_record</i>
								Never Exhibited
							</div>
						</div>
						<div class="col-md-12" ng-repeat="keys in profile_content.profile.profile_content"
							ng-if="keys.keyword_id[5] == 3" style="padding: 20px 0;">
							<div class="col-md-3">
								<h4 style="font-weight: bold;">{{keys.keyword}}</h4>
							</div>
							<div class="col-md-9">
								<span ng-repeat="mini in keys.mini_descriptions"
									ng-class="mini.relate=='donotexhibitanymore' ? 'mini_color_donotexhibitanymore':(mini.relate=='donotrelate'?'mini_color_donotrelate':'')">
									<i class="material-icons" style="font-size: 11px;">fiber_manual_record</i>
									{{mini.mini_description}}&nbsp;&nbsp;&nbsp;&nbsp;
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>