<style>
	.back_panel {
		background-color: #CCFF90;
		color: black;
	}
	.back_active_panel {
		background-color: #e1f5fe;
		color: black;
	}
	#radios label {
		cursor: pointer;
		position: relative;
	}
		#radios {
		text-align: center;
		margin 0 auto;
	}
	
	#radios label + label {
		margin-left: 15px;
	}

	input[type="radio"] {
		opacity: 0; /* hidden but still tabable */
		position: absolute;
	}

	input[type="radio"] + span {
		font-family: 'Material Icons';
		color: #B3CEFB;
		border-radius: 50%;
		padding: 5px;
		transition: all 0.4s;
		-webkit-transition: all 0.4s;
	}

	input[type="radio"]:checked + span {
		color: #D9E7FD;
	  background-color: #4285F4;
	}

	input[type="radio"]:focus + span {
		color: #fff;
	}

	.material-icons {
	  font-family: 'Material Icons';
	  font-weight: normal;
	  font-style: normal;
	  font-size: 20px;  /* Preferred icon size */
	  display: inline-block;
	  line-height: 1;
	  text-transform: none;
	  letter-spacing: normal;
	  word-wrap: normal;
	  white-space: nowrap;
	  direction: ltr;

	  /* Support for all WebKit browsers. */
	  -webkit-font-smoothing: antialiased;
	  /* Support for Safari and Chrome. */
	  text-rendering: optimizeLegibility;

	  /* Support for Firefox. */
	  -moz-osx-font-smoothing: grayscale;

	  /* Support for IE. */
	  font-feature-settings: 'liga';
	}
    
	.bg_uncomp{
		background: #ffefef;
	}
</style>

<span ng-show="loading || profile_content.profile.profile_number==0">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>    
</span>

<div id="sb-site" ng-show="!loading && profile_content.profile.profile_number>0">
	<div style="display: block; width: 22%; margin: 0 auto; z-index: 10000;" ng-show="waitingQueue == true && !success.message" class="w3-animate-top">
		<div class="alert alert-info alert-with-icon" data-notify="container" style="position: fixed; margin-top: 20px; width: 300px; text-align: center;">
			<i data-notify="icon" class="material-icons">cached</i>
			<span data-notify="message">Saving Your Progress !</span>
		</div>
	</div>
	<div style="display: block; width: 22%; margin: 0 auto; z-index: 10000;" ng-show="waitingQueue == false && success.message == 'Done'" class="w3-animate-top">
		<div class="alert alert-success alert-with-icon" data-notify="container" style="position: fixed; margin-top: 20px; width: 300px; text-align: center;">
			<i data-notify="icon" class="material-icons">check_circle</i>
			<span data-notify="message">Progress Saved !</span>
		</div>
	</div>
	<div style="display: block; width: 22%; margin: 0 auto; z-index: 10000;" ng-if="!online" class="w3-animate-top">
		<div class="alert alert-danger alert-with-icon" data-notify="container" style="position: fixed; margin-top: 20px; width: 300px; text-align: center;">
			<i data-notify="icon" class="material-icons">info</i>
			<span data-notify="message">Connection Error !</span>
		</div>
	</div>
	<div style="display: block; width: 22%; margin: 0 auto; z-index: 10000;" ng-show="second3timer && checkRel[section_num] && (!checkSectionFill(section_num))" class="w3-animate-top">
		<div class="alert alert-info alert-with-icon" data-notify="container" style="position: fixed; margin-top: 20px; width: 300px; text-align: center;">
			<i data-notify="icon" class="material-icons">info</i>
			<span data-notify="message">Please Select Missing Options !</span>
		</div>
	</div>
	
    <div id="page-wrapper">
        
        <div id="page-content-wrapper">
            <div>
                
                <div class="container">

					<!-- Boostrap Tabs -->

					<script type="text/javascript" src="./assets/widgets/tabs/tabs.js"></script>
						<div id="page-title">
							<br>
							<h2>{{profile_content.firstname + ' ' + profile_content.lastname}}'s Profile</h2>
							<p class="mrg15B"></p>
						</div>
						<div class="row" style="margin: 0 auto;">
							<div class="col-xs-12 col-md-3" style="margin-top: 30px; font-size: 20px; text-align: center;">
								Profile Sections
							</div>
							<div class="col-xs-12 col-md-9" style="margin: 0 auto; padding: 0 50px;" ng-show="section_num >= 1 && section_num <=3">
								<div class="col-xs-12 col-md-12 col-lg-12" style="text-align: center; margin-bottom: 10px; font-size: 15px;">
									In the statements below, kindly choose from the following options:
								</div>
								<div class="col-md-6 col-lg-2" ng-if="section_num != 3"></div>
								<!--<div class="col-md-2" ng-if="section_num == 3"></div>-->
								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3" style="margin-bottom: 30px; font-size: 20px;" ng-show="section_num == 3">
									<label class="material-icons" title="Improved Over Time" style="color: skyblue;">
										<span>&#xE15D;</span>
									</label>
									<div style="font-size: 15px; margin-top: -27px; margin-left: 25px;">Improved Over Time</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3" style="margin-bottom: 30px; font-size: 20px;">
									<label class="material-icons" title="Never Exhibited" style="color: skyblue;">
										<span>&#xE612;</span>
									</label>
									<div style="font-size: 15px; margin-top: -27px; margin-left: 25px;">Never Exhibited</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3" style="margin-bottom: 30px; font-size: 20px;">
									<label class="material-icons" title="Exhibit Sometimes" style="color: skyblue;">
										<span>&#xE427;</span>
									</label>
									<div style="font-size: 15px; margin-top: -27px; margin-left: 25px;">Exhibit Sometimes</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3" style="margin-bottom: 30px; font-size: 20px;">
									<label class="material-icons" title="Exhibit Strongly" style="color: skyblue;">
										<span>&#xE3A6;</span>
									</label>
									<div style="font-size: 15px; margin-top: -27px; margin-left: 25px;">Exhibit Strongly</div>
								</div>
							</div>
							<div class="col-xs-12 col-md-9" style="margin: 0 auto; padding: 0 50px;" ng-show="section_num == 0">
								<div class="col-xs-12 col-md-12" style="text-align: center; margin-bottom: 10px; font-size: 15px;">
									On a scale of 1-10, rate how strongly you resonate with the following statements:
								</div>
								<div class="col-xs-6 col-md-6">
									<div style="margin-bottom: 30px; font-size: 20px; float: right;">
										<label title="Do not relate at all" style="color: skyblue; margin-right: 25px;">
											<span class="allRating">1</span>
										</label>
										<div style="font-size: 15px; margin-top: -27px; margin-left: 35px;">Do not relate at all</div>
									</div>
								</div>
								<div class="col-xs-6 col-md-6">
									<div style="margin-bottom: 30px; font-size: 20px;">
										<label title="Relate very strongly" style="color: skyblue;">
											<span class="allRating">10</span>
										</label>
										<div style="font-size: 15px; margin-top: -27px; margin-left: 40px;">Relate very strongly</div>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-md-9" style="margin: 0 auto; padding: 0 50px;" ng-show="section_num == 5">
								<div class="col-md-12" style="text-align: center; margin-bottom: 10px; font-size: 15px;">
									Below are some suggested growth recommendations that you adopt for your personal and professional development. Please select those which apply in your case.
								</div>
							</div>
						</div>
						<div class="row">
						<div class="col-xs-12 col-md-3">
							<ul class="list-group">
								<li class="mrg10B" ng-click="checkRel[section_num] = true; second3timer = true; section_num = 0">
									<a class="list-group-item" href="" ng-class="section_num == 0 ? 'back_active_panel' : (checkSectionFill(0) ? 'back_panel':'bg_white')">
									  Beliefs
										<i class="glyph-icon icon-angle-right mrg0A"></i>
									</a>
								</li>
								<li class="mrg10B" ng-click="checkRel[section_num] = true; second3timer = true; (checkSectionFill(0)?section_num=1:'');">
									<a class="list-group-item" href="" ng-class="section_num == 1 ? 'back_active_panel' : (checkSectionFill(1) ? 'back_panel':'bg_white')">
									  Professional Values and Work<br>Culture Preferences
										<i class="glyph-icon icon-angle-right mrg0A"></i>
									</a>
								</li>
								<li class="mrg10B" ng-click="checkRel[section_num] = true; second3timer = true; (checkSectionFill(0) && checkSectionFill(1)?section_num=2:'');">
									<a class="list-group-item" href="" ng-class="section_num == 2 ? 'back_active_panel' : (checkSectionFill(2) ? 'back_panel':'bg_white')">
										Professional Strengths
										<i class="glyph-icon font-green icon-angle-right mrg0A"></i>
									</a>
								</li>
								<li class="mrg10B" ng-click="checkRel[section_num] = true; second3timer = true; (checkSectionFill(0) && checkSectionFill(1) && checkSectionFill(2)?section_num=3:'');">
									<a class="list-group-item" href="" ng-class="section_num == 3 ? 'back_active_panel' : (checkSectionFill(3) ? 'back_panel':'bg_white')">
										Learning Needs
										<i class="glyph-icon icon-angle-right mrg0A"></i>
									</a>
								</li>
								<!--<li class="mrg10B" ng-click="(checkSectionFill(1) && checkSectionFill(2) && checkSectionFill(3)?section_num=4:'');">
									<a class="list-group-item" href="" ng-class="section_num == 4 ? 'back_active_panel' : (checkSectionFill(4) ? 'back_panel':'bg_white')">
										Communication Style
										<i class="glyph-icon icon-angle-right mrg0A"></i>
									</a>
								</li>-->
								<li class="mrg10B" ng-click="checkRel[section_num] = true; second3timer = true; (checkSectionFill(0) && checkSectionFill(1) && checkSectionFill(2) && checkSectionFill(3)?section_num=5:'');">
									<a class="list-group-item" href="" ng-class="section_num == 5 ? 'back_active_panel' : (checkSectionFill(3) ? 'back_panel':'bg_white')">
										Growth Recommendations
										<i class="glyph-icon icon-angle-right mrg0A"></i>
									</a>
								</li>
							</ul>
						</div>
						<div class="col-xs-12 col-md-9">
							<div class="tab-content">

								<div class="tab-pane fade active in pad0A" id="faq-tab-1">
									<div class="panel-group" id="accordion5">
										<div class="panel">
											<div class="panel-heading">
												<h2 class="panel-title" style="text-align:center; font-size:1.8em; padding: 10px 0;">
													<span style="float:right; font-size: 15px;" ng-show="section_num != 5">Page {{section_num+1}}/5</span>
													<span style="float:right; font-size: 15px;" ng-show="section_num == 5">Page {{section_num}}/5</span>
													<a data-toggle="collapse" data-parent="#accordion5">
														
														<b ng-show="section_num == 0">Beliefs</b>
														<b ng-show="section_num == 1">Professional Values and Work Culture Preferences</b>
														<b ng-show="section_num == 2">Professional Strengths</b>
														<b ng-show="section_num == 3">Learning Needs</b>
														<!--<b ng-show="section_num == 4">Communication Style</b>-->
														<b ng-show="section_num == 5">Growth Recommendations</b>
														
														<div ng-show="section_num >= 1 && section_num <= 3" style="font-size: 14px; padding: 10px 6% 10px 0;  font-weight: bold;">
															{{sectionDescs[profile_content.profile.profile_number-1][section_num-1]}}
														</div>
														
														<div ng-show="section_num == 0" style="font-size: 15px; padding: 10px 6% 10px 0; font-weight: bold;">
															Beliefs are deeply rooted convictions about the world and about ourselves. Please select how strongly you relate with the following belief statements and answer the associated questions.
														</div>
														<div ng-show="section_num == 1" style="font-size: 15px; padding: 0px 6% 10px 0; font-weight: bold;">
															Please select values you exhibit and ideal work culture you prefer or strive to create for others.
														</div>
														<div ng-show="section_num == 2" style="font-size: 15px; padding: 10px 6% 10px 0; font-weight: bold;">
															Please select strengths you bring to workplace in your role or while working with others.
														</div>
														<div ng-show="section_num == 3" style="font-size: 15px; padding: 10px 6% 10px 0; font-weight: bold;">
															Choose your Areas for Development as seen by you or others. Your authentic selection will assist the manager in your professional development further.
														</div>
														
														<div style="padding: 5px 0; border: 2px solid #33b5e5; margin-top: 10px; text-align: left; border-radius: 7px;" ng-show="section_num >= 0 && section_num <= 3">
															<b style="font-size: 15px; margin-left: 15px;">For your reference, see a sample below :</b>
															<img src="./images/sec0.png" style="width: 100%; padding: 0% 2%;" ng-show="section_num == 0">
															<img src="./images/sec1.png" style="width: 100%; padding: 0% 10%;" ng-show="section_num == 1">
															<img src="./images/sec2.png" style="width: 100%; padding: 0% 10%;" ng-show="section_num == 2">
															<img src="./images/sec3.png" style="width: 100%; padding: 0% 10%;" ng-show="section_num == 3">
														</div>
													</a>
													
												</h2>
											</div>
											<div class="row" style="width: 98%; margin: auto;">

												<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="section_num == 0" style="margin-bottom: 20px; font-size: 14px;">
													<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row" ng-repeat="rc in profile_content.profile.beliefs" ng-class="((!rc.how_much) && checkRel[section_num])?'bg_uncomp':''" style="padding: 4px;">
														<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">{{rc.statement}}</div>
														<div class="input-prepend input-group col-xs-12 col-sm-12 col-md-6 col-lg-6" style="text-align: center;">
															<span ng-click="rc.how_much = 1;" ng-class="(rc.how_much>=1)?'checked_rating':''" title="1" class="allRating">1</span>
															<span ng-click="rc.how_much = 2;" ng-class="(rc.how_much>=2)?'checked_rating':''" title="2" class="allRating">2</span>
															<span ng-click="rc.how_much = 3;" ng-class="(rc.how_much>=3)?'checked_rating':''" title="3" class="allRating">3</span>
															<span ng-click="rc.how_much = 4;" ng-class="(rc.how_much>=4)?'checked_rating':''" title="4" class="allRating">4</span>
															<span ng-click="rc.how_much = 5;" ng-class="(rc.how_much>=5)?'checked_rating':''" title="5" class="allRating">5</span>
															<span ng-click="rc.how_much = 6;" ng-class="(rc.how_much>=6)?'checked_rating':''" title="6" class="allRating">6</span>
															<span ng-click="rc.how_much = 7;" ng-class="(rc.how_much>=7)?'checked_rating':''" title="7" class="allRating">7</span>
															<span ng-click="rc.how_much = 8;" ng-class="(rc.how_much>=8)?'checked_rating':''" title="8" class="allRating">8</span>
															<span ng-click="rc.how_much = 9;" ng-class="(rc.how_much>=9)?'checked_rating':''" title="9" class="allRating">9</span>
															<span ng-click="rc.how_much = 10;" ng-class="(rc.how_much==10)?'checked_rating':''" title="10" class="allRating">10</span>
														</div>
														<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="padding: 5px;">
															<textarea rows="2" class="form-control" style="width: 100%; text-align: center;" placeholder="Why did you select this rating? Why not less or why not more?
" ng-model="rc.comment"></textarea>
														</div>
														<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-bottom: 10px;"></div>
													</div>
												</div>
												
												<div class="col-md-6" ng-repeat="keys in profile_content.profile.profile_content" ng-show="section_num == keys.keyword_id[5]" style="margin-bottom: 20px;">
													<div class="panel panel-primary">
														<div class="panel-heading">
															<h4 class="panel-title"><b>{{keys.keyword}}</b></h4>
														</div>
														<div id="collapseOne" class="panel-collapse collapse in">
															<div class="panel-body pad0B">
															   <div class="row" ng-repeat="mini in keys.mini_descriptions" style="margin-bottom: 10px; color: #757575;" ng-class="((!mini.relate) && checkRel[section_num])?'bg_uncomp':''">
																	<div class="col-md-6" ng-if="section_num != 3">
																		<h5><b>{{mini.mini_description}}</b></h5>  
																	</div>
																	<div class="col-md-4" ng-if="section_num == 3">
																		<h5><b>{{mini.mini_description}}</b></h5>  
																	</div>
																   	<div class="col-md-6" ng-if="section_num != 3">
																		<div id="radios">
																				<label for="{{mini.mini_description_id}}donotrelate" class="material-icons" title="Never Exhibited">
																					 <input type="radio" name="{{mini.mini_description_id}}donotrelate" id="{{mini.mini_description_id}}donotrelate" value="donotrelate" ng-model="mini.relate" ng-change="mini.mini_rating = 0" />
																					 <span>&#xE612;</span>
																				</label>
																				<label for="{{mini.mini_description_id}}relatepartially" class="material-icons" title="Exhibit Sometimes">
																					<input type="radio" name="{{mini.mini_description_id}}relatepartially" id="{{mini.mini_description_id}}relatepartially" value="relatepartially" ng-model="mini.relate" ng-change="mini.mini_rating = 1" />
																					<span>&#xE427;</span>
																				</label>
																				<label for="{{mini.mini_description_id}}relatestrongly" class="material-icons" title="Exhibit Strongly">
																					<input type="radio" name="{{mini.mini_description_id}}relatestrongly" id="{{mini.mini_description_id}}relatestrongly" value="relatestrongly" ng-model="mini.relate" ng-change="mini.mini_rating = 2"/>
																					<span>&#xE3A6;</span>
																				</label>
																		</div>
																	</div>
																	<div class="col-md-8" ng-if="section_num == 3">
																		<div id="radios">
																				<label for="{{mini.mini_description_id}}donotexhibitanymore" class="material-icons" title="Improved Over Time">
																					 <input type="radio" name="{{mini.mini_description_id}}donotexhibitanymore" id="{{mini.mini_description_id}}donotexhibitanymore" value="donotexhibitanymore" ng-model="mini.relate" ng-change="mini.mini_rating = 0" />
																					 <span>&#xE15D;</span>
																				</label>
																				<label for="{{mini.mini_description_id}}donotrelate" class="material-icons" title="Never Exhibited">
																					 <input type="radio" name="{{mini.mini_description_id}}donotrelate" id="{{mini.mini_description_id}}donotrelate" value="donotrelate" ng-model="mini.relate" ng-change="mini.mini_rating = 0" />
																					 <span>&#xE612;</span>
																				</label>
																				<label for="{{mini.mini_description_id}}relatepartially" class="material-icons" title="Exhibit Sometimes">
																					<input type="radio" name="{{mini.mini_description_id}}relatepartially" id="{{mini.mini_description_id}}relatepartially" value="relatepartially" ng-model="mini.relate" ng-change="mini.mini_rating = 1" />
																					<span>&#xE427;</span>
																				</label>
																				<label for="{{mini.mini_description_id}}relatestrongly" class="material-icons" title="Exhibit Strongly">
																					<input type="radio" name="{{mini.mini_description_id}}relatestrongly" id="{{mini.mini_description_id}}relatestrongly" value="relatestrongly" ng-model="mini.relate" ng-change="mini.mini_rating = 2"/>
																					<span>&#xE3A6;</span>
																				</label>
																		</div>
																	</div>
																	<!--<div style="color: red; text-align: center;" ng-show="(!mini.relate) && checkRel[section_num]">How much do you relate ?</div>-->
																</div>
																
																<br ng-if="section_num >= 1 && section_num <= 3">
																<textarea contenteditable="true" rows="2" class="form-control" ng-model="keys.comment" placeholder="Why is this value it important to you?" ng-if="section_num == 1" style="text-align: center;"></textarea>
																<textarea contenteditable="true" rows="2" class="form-control" ng-model="keys.comment" placeholder="How can an excess use of this strength turn into an 'improvement area' for you?" ng-if="section_num == 2" style="text-align: center;"></textarea>
																<textarea contenteditable="true" rows="2" class="form-control" ng-model="keys.comment" placeholder="In what ways does this learning need limit you in your role and what practices can you adopt to overcome it?
" ng-if="section_num == 3" style="text-align: center;"></textarea>
															</div>
															<br>
														</div>
													</div>
												</div>
												
												<div class="col-md-12" ng-show="section_num == 5" style="margin-bottom: 15px; font-size: 16px;">
													<div ng-repeat="rc in profile_content.profile.growth_recommendations">
														<span class="col-md-1" style="text-align: center;">
															<input type="checkbox" ng-model="rc.selected" style="height: 16px; width: 16px;">
														</span>
														<span class="col-md-11" style="margin-bottom: 10px;" ng-click="rc.selected = !rc.selected">{{rc.statement}}</span>
													</div>
													
													<div style="font-size: 13px; padding: 30px 0 10px 0; color: grey; text-align: center; margin-top: 50px;">
														<span>Use the below button to add any other growth recommendation you would like to practise.</span>
													</div>
													
													<div style="text-align: center;" ng-show="!addingGrowth">
														<button class="btn btn-info" ng-click="addingGrowth=true;">+ Add more</button>
													</div>
												
													<div style="text-align: center;" ng-show="addingGrowth">
														<span class="col-md-11">
															<input type="text" class="form-control" placeholder="Add Growth" style="text-align: center;" ng-model="newGrowth.statement">
														</span>
														<span class="col-md-1">
															<button class="btn btn-danger" ng-click="pushNewGrowth(); addingGrowth=false;">Done</button>
														</span>
													</div>
												</div>
												
											</div>
											<div style="text-align: center;" ng-show="section_num>=1 && section_num<=3">
												<div class="row" style="font-size: 13px; color: grey; margin: 0 auto 10px auto;" ng-class="((!profile_content.profile.eachSectionRelate[section_num-1]) && checkRel[section_num])?'bg_uncomp':''">
													<div class="col-xs-12 col-sm-12 col-md-7" style="text-align: right; margin-top: 6px;">
														<b>How closely does this section describe your <span ng-show="section_num == 1">values or work culture preferences</span><span ng-show="section_num == 2">strengths</span><span ng-show="section_num == 3">learning needs</span> - to someone reading, who doesn't know you prior?</b>
													</div>
													<div class="col-xs-12 col-sm-12 col-md-5" style="margin: auto 0; text-align: center;">
														<select class="form-control" ng-model="profile_content.profile.eachSectionRelate[section_num-1]" style="width: 80%;">
															<option value="Below 50%">Below 50% (I could not relate to it much)</option>
															<option value="70% - 80%">70% - 80% (Relate to great extent)</option>
															<option value="80% - 90%">80% - 90% (Relate very closely)</option>
															<option value="Above 90%">Above 90% (Relate fully)</option>
														</select>
													</div>
												</div>
												
												<div class="row" style="font-size: 13px; color: grey; text-align: center; padding: 10px 50px;" ng-show="profile_content.profile.eachSectionRelate[section_num-1] != 'Above 90%' && profile_content.profile.eachSectionRelate[section_num-1] != ''">
													<div class="col-xs-12 col-sm-12 col-md-12" style="margin-top: 6px;">
														<b>Please share your <span ng-show="section_num == 1">values or work culture preferences</span><span ng-show="section_num == 2">strengths</span><span ng-show="section_num == 3">learning needs</span> not covered above.</b>
													</div>
													<div class="col-xs-12 col-sm-12 col-md-12">
														<textarea class="form-control" style="text-align: center;" ng-model="profile_content.profile.eachSectionShareMore[section_num-1]"></textarea>
													</div>
												</div>
												
												<!--	BUTTON ADD
												<div class="col-xs-12 col-sm-12 col-md-12" style="font-size: 13px; padding: 10px 0 10px 0; color: grey;" ng-show="profile_content.profile.eachSectionRelate[section_num-1] != 'Above 90%' && profile_content.profile.eachSectionRelate[section_num-1] != ''">
													Use the below button to add those <span ng-show="section_num == 1">values or work culture preferences</span><span ng-show="section_num == 2">strengths</span><span ng-show="section_num == 3">learning needs</span> that are not covered in the profile.
												</div>
												<div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom: 15px;">
													<div class="col-xs-12 col-sm-12 col-md-12" ng-show="profile_content.profile.eachSectionRelate[section_num-1] != 'Above 90%' && profile_content.profile.eachSectionRelate[section_num-1] != ''">
														<button class="btn btn-info" ng-click="pushNewKey(section_num); keyAdded[section_num-1]=true;" ng-if="!keyAdded[section_num-1]">
															<span ng-show="section_num == 1">+ Add more values</span>
															<span ng-show="section_num == 2">+ Add more strengths</span>
															<span ng-show="section_num == 3">+ Add more learning needs</span>
														</button>
													</div>

													<div class="col-xs-12 col-sm-12 col-md-12" ng-if="keyAdded[section_num-1]" ng-show="profile_content.profile.eachSectionRelate[section_num-1] != 'Above 90%' && profile_content.profile.eachSectionRelate[section_num-1] != ''">
														<div class="col-xs-5 col-sm-5 col-md-5" style="margin-bottom: 15px;">
															<input type="text" class="form-control" size="100%" placeholder="Add Value" style="text-align: center;" ng-model="pk.keyword" required ng-show="section_num == 1">
															<input type="text" class="form-control" size="100%" placeholder="Add Strength" style="text-align: center;" ng-model="pk.keyword" required ng-show="section_num == 2">
															<input type="text" class="form-control" size="100%" placeholder="Add Learning Need" style="text-align: center;" ng-model="pk.keyword" required ng-show="section_num == 3">
														</div>
														<div class="col-xs-5 col-sm-5 col-md-5">
															<input type="text" class="form-control" size="100%" placeholder="Add Description" style="text-align: center;" ng-model="pk.mini_descriptions[0].mini_description" required>
														</div>
														<div class="col-xs-2 col-sm-2 col-md-2">
															<button class="btn btn-danger" ng-click="addNewKey(section_num);">Done</button>
														</div>
													</div>
												</div>-->
											</div>
										</div><br>
										
										<button type="button" class="btn btn-info" ng-click="(section_num == 5)? section_num = section_num - 2 : section_num = section_num - 1" ng-disabled="section_num == 1">Back</button>
										<button type="button" class="btn btn-success pull-right" ng-click="checkRel[section_num] = true; second3timer = true; (checkSectionFill(section_num)?((section_num == 3)?section_num = section_num+2:section_num = section_num+1):'');" ng-show="section_num != 5">Next</button>
										<button type="button" class="btn btn-danger pull-right" ng-click="checkRel[section_num] = true; (checkSectionFill(section_num)?submitProfile():'');" ng-show="section_num == 5">Submit</button>
										<span style="display: block; text-align: center; margin-top: -35px; margin-left: 55px;">
											<button type="button" class="btn btn-warning" ng-click="saveProfile()">Save</button><br><br>
										</span>
									</div>

								</div>

							</div>
						</div>
						</div>
                    </div>

            </div>
        </div>
        
    </div>
</div>